<div id="proyecciones" class="proyecciones">
    <img src="./assets/hero-proyecciones.jpg"
    srcset="./assets/hero-proyecciones@2x.jpg 2x,
            ./assets/hero-proyecciones@3x.jpg 3x"
    class="img-fluid hero-img">  
  <div class="row  image-background proyecciones">
    
        <div class="col  p-0">
          <div class="header">
            Home /<span class="white">Proyecciones y plan de inversiones</span>
          </div>
          <div class="title white">
              Proyecciones y plan <br>de inversiones
          </div>
          <div class="divider-header white"></div>
        </div>
        <div class="col col-sm-1 p-0">
            <div class="cube animated rollIn delay-1s"></div>
            <div class="cube-large-2 animated rollIn delay-1s"></div>
        </div>
        <div class="col-sm-3 p-0">
            <div class="row">
              <div class="col p-0">
                <div class="cube-large animated rollIn delay-1s"></div>
              </div>
              <div class="col  p-0">
                <div class="static-logo">
                  <div class="logo-empresa"  ui-sref="app.pages.home">
                    <img src="./assets/empresas-socovesa-logo-blanco.svg" alt="" />
                  </div>
                  <div class="icon" ng-click="openSearch()">
                    <img src="./assets/icono-buscar-blanco.svg" alt="" />
                  </div>
                  <div class="icon" ng-click="share()">
                    <img src="./assets/icono-compartir-blanco.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="./assets/icono-download-blanco.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
        </div>
<div class="scrolldown">
 <img width="40" height="40" alt="" src="./assets/chevron.svg" />
</div>
      </div>
      <div class="cita ">
          Empresas Socovesa proyecta para el año 2019 que las promesas de negocios debieran crecer un 1% y la facturación un 14%. Para los años 2019-2021, se visualiza un periodo de crecimiento que redunda en un volumen de promesas y facturación en el entorno de los UFMM 16,3.      </div>
      <div class="divider"></div>
      <section class="row box-parrafos">
          <div class="col-md-6 p-0 ">
              <p class="title">Promesas y facturación</p>
          </div>
          <div class="col-md-12 p-0 ">
            <div class="row">
                <div class="col-sm-6 parrafo one p-0">
                  <p>Para el año 2019 la Compañía proyecta un crecimiento en promesas netas de negocios del 1%, llegando a los MMUF 13,2. Esta proyección considera un nivel de actividad prácticamente estable en relación al año 2018 para Socovesa, un crecimiento del 16% para Almagro y un decrecimiento de Pilares del 14%, ya que esta filial no presupuesta nuevas ventas a inversionistas institucionales (situación que se materializó durante el ejercicio 2018). Si se aísla esta venta institucional de las cifras del 2018, Pilares estaría creciendo un 7% el año 2019 y el área inmobiliaria de Empresas Socovesa, un 5%
                    </p>
                    <p>Entre los años 2019 y 2021, Empresas Socovesa proyecta un ciclo de crecimiento sostenido tanto en promesas netas como así también en términos de facturación de viviendas nuevas. Para finales del 2021, la Compañía estima alcanzar un volumen de venta (promesas netas de negocio) de MMUF 16,8 y un nivel de ingresos por venta de viviendas nuevas del mismo orden, en el entorno de los MMUF 16,3.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
            
                <div class="col-sm-6 parrafo  three p-0 ">
                    <div class="text-proyecciones">Por su parte, para el año 2019, se proyecta un crecimiento en torno al 14% en términos de facturación de viviendas nuevas.</div>
                    <img class="img-fluid croquis-4" src="./assets/croquis-4.jpg"
                    srcset="./assets/croquis-4@2x.jpg 2x,
                            ./assets/croquis-4@3x.jpg 3x"
                    >
                </div>
            </div>
          </div>  
        </section> 
        <section>
          <div class="row  chart-proyecciones">
            <div class="col col-sm-4 p-0">
                <img src="./assets/grafico-promesas-netas.jpg"
                srcset="./assets/grafico-promesas-netas@2x.jpg 2x,
                        ./assets/grafico-promesas-netas@3x.jpg 3x"
                class="img-fluid ">
            </div>
            <div class="col col-sm-4 p-0">
                <img src="./assets/grafico-facturacion-viviendas-nuevas.jpg"
                srcset="./assets/grafico-facturacion-viviendas-nuevas@2x.jpg 2x,
                        ./assets/grafico-facturacion-viviendas-nuevas@3x.jpg 3x"
                class="img-fluid ">
            </div>
          </div>
        </section>
        <section class="row box-parrafos background-color proyecciones">
            <div class="col-sm-12 p-0 ">
                <p class="title-small has-subtitle ">Estrategia de crecimiento y lanzamiento de nuevos <br> proyectos</p>
            </div>
            <div class="col-sm-6 p-0 one">
                <p class="sub-title">El logro de los anteriores niveles de promesas y facturación ha supuesto acelerar el ritmo de negocios, proceso que se inició hace 18 meses, anticipándose así al nuevo ciclo económico de crecimiento moderado. En ese minuto, los niveles de inversión en tierra pasaron de MMUF 1,5 al año a MMUF 2,5.</p>
              <p class="sub-title">Para el ejercicio 2019 el plan de compra de terrenos contempla la adquisición de tierra, principalmente para el desarrollo de proyectos en altura, por un monto total equivalente a MMUF 3,8. Este monto incluye el pago de compras de terrenos que se acordaron el año 2018.</p>
            </div>
            <div class="col-sm-6 p-0 three">
              <p class="sub-title">Respecto al plan de lanzamientos de proyectos, para el año 2019 se contempla el inicio de la construcción de 5.066 unidades, por un monto total de venta de MMUF 15,7 y con una inversión estimada de MMUF 9,4. </p>
            </div>
            <div class="col-sm-12 p-0 table no-padding ">
                
                <div class="row header ligth">
                    <div class="col-sm-4 p-0 title">Filial</div>
                    <div class="col-sm-2 p-0 title text-center">Nº de Proyectos <br> o Etapas</div>
                    <div class="col-sm-2 p-0 title text-center">Nº de <br> Viviendas</div>
                    <div class="col-sm-2 p-0 title text-center">Precio <br> Promedio</div>
                    <div class="col-sm-2 p-0 title text-center">Venta <br> Potencial</div>
                </div>
                <div class="row wrapp-data">
                    <div class="col-sm-4 p-0 data light ">Socovesa</div>
                    <div class="col-sm-2 p-0 data light text-center">36</div>
                    <div class="col-sm-2 p-0 data light text-center">2.337</div>
                    <div class="col-sm-2 p-0 data light text-center">UF 3.074</div>
                    <div class="col-sm-2 p-0 data light text-center">UF 7.183.198</div>
                </div>	
                <div class="row wrapp-data">
                    <div class="col-sm-4 p-0 data light ">Socovesa</div>
                    <div class="col-sm-2 p-0 data light text-center">12</div>
                    <div class="col-sm-2 p-0 data light text-center">1.225</div>
                    <div class="col-sm-2 p-0 data light text-center">UF 3.997</div>
                    <div class="col-sm-2 p-0 data light text-center">UF 4.896.106</div>
                </div>
                <div class="row wrapp-data">
                    <div class="col-sm-4 p-0 data light ">Socovesa</div>
                    <div class="col-sm-2 p-0 data light text-center">15</div>
                    <div class="col-sm-2 p-0 data light text-center">1.504</div>
                    <div class="col-sm-2 p-0 data light text-center">UF 2.384</div>
                    <div class="col-sm-2 p-0 data light text-center">UF 3.585.141</div>
                </div>			
                <div class="row wrapp-data dark">
                    <div class="col-sm-4 p-0  light ">Total</div>
                    <div class="col-sm-2 p-0  light text-center">63</div>
                    <div class="col-sm-2 p-0  light text-center">5.066</div>
                    <div class="col-sm-2 p-0  light text-center">UF 3.092</div>
                    <div class="col-sm-2 p-0  light text-center">UF 15.664.445</div>
                </div>			
                <br>
                <p class="sub-title">Por su parte, la oferta promedio creció MMUF 0,3 durante el 2018 y se espera que crezca MMUF 1,6 durante el 2019 proyectando tener un nivel de oferta promedio para el ejercicio 2019 de MMUF 17. </p>
              </div>
        </section>
        <section class="row box-parrafos ">
            <div class="col-sm-12 p-0 ">
                <p class="title-small has-subtitle ">Meses para agotar stock</p>
            </div>
            <div class="col-sm-12 p-0 one">
                <p class="sub-title">Los niveles de MAS (meses para agotar stock) se han mantenido equilibrados, en un rango que va entre los 15 a 17 meses, a pesar de los diferentes ciclos económicos -niveles de oferta y velocidades de venta- experimentados entre los años 2013 y 2019.</p>
            </div>
            <div class="col-sm-12 p-0 table no-padding ">
                
                <div class="row header ligth   align-items-end">
                    <div class="col-sm-3 p-0 title"></div>
                    <div class="col p-0 title text-center">Oferta <br> (Promedio<br>Anual)</div>
                    <div class="col p-0 title text-center">Viviendas<br>Terminadas<br>(Promedio<br>Anual)</div>
                    <div class="col p-0 title text-center">Stock / <br>Oferta<br>(Promedio<br>Anual)</div>
                    <div class="col p-0 title text-center">Promesas<br>(Anuales)</div>
                    <div class="col p-0 title text-center">MAS <br>(Promedio<br>Anual)</div>
                    <div class="col p-0 title text-center">Lanzamientos<br>(Valor Venta Potencial sin IVA)</div>
                    </div>
                <div class="row wrapp-data">
                    <div class="col-sm-3 p-0 data light ">2013</div>
                    <div class="col p-0 data light text-center">17.729</div>
                    <div class="col p-0 data light text-center">2.327</div>
                    <div class="col p-0 data light text-center">13%</div>
                    <div class="col p-0 data light text-center">13.901</div>
                    <div class="col p-0 data light text-center">15 meses</div>
                    <div class="col p-0 data light text-center">14.426</div>
                </div>		
                <div class="row wrapp-data">
                    <div class="col-sm-3 p-0 data light ">2014</div>
                    <div class="col p-0 data light text-center">17.718</div>
                    <div class="col p-0 data light text-center">3.249</div>
                    <div class="col p-0 data light text-center">18%%</div>
                    <div class="col p-0 data light text-center">12.248</div>
                    <div class="col p-0 data light text-center">17 meses</div>
                    <div class="col p-0 data light text-center">10.950</div>
                </div>
                <div class="row wrapp-data">
                    <div class="col-sm-3 p-0 data light ">2015</div>
                    <div class="col p-0 data light text-center">16.321</div>
                    <div class="col p-0 data light text-center">3.549</div>
                    <div class="col p-0 data light text-center">22%</div>
                    <div class="col p-0 data light text-center">13.105</div>
                    <div class="col p-0 data light text-center">15 meses</div>
                    <div class="col p-0 data light text-center">10.502</div>
                </div>
                <div class="row wrapp-data">
                    <div class="col-sm-3 p-0 data light ">2016</div>
                    <div class="col p-0 data light text-center">14.281</div>
                    <div class="col p-0 data light text-center">2.995</div>
                    <div class="col p-0 data light text-center">21%</div>
                    <div class="col p-0 data light text-center">10.448</div>
                    <div class="col p-0 data light text-center">16 meses</div>
                    <div class="col p-0 data light text-center">7.384</div>
                </div>	
                <div class="row wrapp-data">
                    <div class="col-sm-3 p-0 data light ">2017</div>
                    <div class="col p-0 data light text-center">15.109</div>
                    <div class="col p-0 data light text-center">3.659</div>
                    <div class="col p-0 data light text-center">24%%</div>
                    <div class="col p-0 data light text-center">11.264</div>
                    <div class="col p-0 data light text-center">16 meses</div>
                    <div class="col p-0 data light text-center">12.760</div>
                </div>	
                <div class="row wrapp-data">
                    <div class="col-sm-3 p-0 data light ">2018</div>
                    <div class="col p-0 data light text-center">15.423</div>
                    <div class="col p-0 data light text-center">2.612</div>
                    <div class="col p-0 data light text-center">17%</div>
                    <div class="col p-0 data light text-center">13.008</div>
                    <div class="col p-0 data light text-center">14 meses</div>
                    <div class="col p-0 data light text-center">12.122</div>
                </div>
                <div class="row wrapp-data dark">
                    <div class="col-sm-3 p-0 data  ">2019p</div>
                    <div class="col p-0 data  text-center">16.997</div>
                    <div class="col p-0 data  text-center">2.032</div>
                    <div class="col p-0 data  text-center">12%</div>
                    <div class="col p-0 data  text-center">13.403</div>
                    <div class="col p-0 data  text-center">15 meses</div>
                    <div class="col p-0 data  text-center">15.664</div>
                </div>
              </div>
        </section>
      <div class="sub-menu row align-items-center justify-content-between ">
          <div class="col section " ui-sref="app.pages.modernizacion">
            <i class="fas fa-chevron-left"></i> Desafío de modernización
          </div>
          <div class="col section  text-right" ui-sref="app.pages.equipo">
              Equipo <i class="fas fa-chevron-right"></i>
          </div>
        </div>
        <div class="footer row justify-content-center">
          <button
            type="button"
            class="btn btn-outline-secondary button-soco-outline  "
          >
          Descargar Capítulo
          </button>
        </div>
 
</div>
