
 .titulo-highlights{
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 500;
    line-height: 0.86;
    letter-spacing: -1.2px;
    width: 280px;
    &.personas{
        color: #eb6767;
    }
    &.futura{
        color: $greyish-teal;
    }
    &.innovacion{
        color: $soft-blue;
    }
    &.equipo{
        color: $dark-periwinkle;  
    }
    &.rodea{
        color: $light-salmon;
    }
 }

.titulo-slider{
    font-family: "Playfair Display";
    font-size: 22px;
    line-height: 0.95;
    letter-spacing: -0.6px;
    color: #212121;
}

.caption-slider{
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: -0.3px;
    color: #777777;
}

.caption-highlights{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: $black;
}
 
.contendido-h3{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: $black;
}

.contenido-h2{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    color: $black;
}

.texto-destado{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33;
    color: $brownish-grey-two;
}

.titulo-pagina-oscuro{
 font-family: 'Roboto';
 font-size: 50px;
 font-weight: 500;
 line-height: 0.86;
 letter-spacing: -1.2px;
 color: $white;
}



