#highlight{
   
    padding-left: 80px;
    padding-right: 0;
    margin: 20px;
    .row{
        margin: 0;
    }
    .header{
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9c9e9f;
        margin-bottom: 46px;
        span{
            font-family: 'Roboto';
            font-size: 13px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $black;

        }
    }
    .title{
        @extend .titulo-highlights;
    }
    .sub-title{
        margin-top: 10px;
        margin-bottom: 40px;
        @extend .caption-highlights;
    }
    .hidden{
        visibility: hidden;
    }
    .boxes-personas{
        position: relative;
        width: 1172px;
        height: 400px;
         .box-1{
            z-index: 99;
            position: absolute;
            overflow: hidden;
            background-color: #cecece;
            transition: background-color 1s ease;
            &:hover{
                background-color: #eb6767;
                z-index: 1000;
                cursor: pointer;

                .text-background{
                    color: $salmon-pink;
                }
                .box-hidden{
                    display: block;
                }
            }
            .box-hidden{
                display: none;
                height: 167px;
                width: 240px;
                padding: 20px 20px;
            }
            .box-show{
                width: 240px;
                height: 200px;
                z-index: 100;
                padding: 20px 20px;
            }
            .title-box{
                font-family: 'Roboto';
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1.1px;
                color: $white;
            }
            .sub-title-box{
                font-family: "Playfair Display";
                font-size: 18px;
                letter-spacing: -0.4px;
                color: $white;
                width: 120px;
                margin-top: -14px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text{
                font-family: 'Roboto';
                font-size: 16px;
                letter-spacing: -0.5px;
                color: $white;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text-background{           
                font-size: 173px;
                font-family: 'Roboto';
                font-weight: bold;
                color: #d3d3d3;
                z-index: -1;
                white-space: nowrap;
                overflow: hidden;
                line-height: 140px;
                top: 75px;
                left: -8px;
                position: absolute;
                transition: background-color 1s ease;
            }
            .rectangule{
                width: 45px;
                height: 5px;    
                background-color: $white;
                margin: 20px 0;
            }
          
         }
         .box-2{
            z-index: 100;
            position: absolute;    
            overflow: hidden;
            background-color: #b6b5b6;
            top: 200px;
            transition: background-color 1s ease;
            &:hover{
                background-color: #eb6767;
                z-index: 1000;
                top: 0;
                cursor: pointer;

                .text-background{
                    color: $salmon-pink;
                }
                .box-hidden{
                    display: block;
                }
            }
            .box-hidden{
                display: none;
                height: 167px;
                width: 300px;
                padding: 20px 20px;
                padding-bottom:10px;
                margin-bottom: 33px;
            }
            .box-show{
                padding: 20px 20px;
                width: 300px;
                height: 167px;
                z-index: 101;
            }
            .title-box{
                font-family: 'Roboto';
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1.1px;
                color: $white;
            }
            .sub-title-box{
                font-family: "Playfair Display";
                font-size: 18px;
                letter-spacing: -0.4px;
                color: $white;
                width: 120px;
                margin-top: -14px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text{
                font-family: 'Roboto';
                font-size: 16px;
                letter-spacing: -0.5px;
                color: $white;
                width: 200px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text-background{           
                font-size: 240px;
                font-family: 'Roboto';
                font-weight: bold;
                color: #bdbdbd;
                z-index: -1;
                white-space: nowrap;
                overflow: hidden;
                bottom: -12px;
                line-height: 188px;
                right: -92px;
                position: absolute;
                transition: background-color 1s ease;

                
            }
            .rectangule{
                width: 45px;
                height: 5px;    
                background-color: $white;
                margin: 20px 0;
                z-index: 99;
            }
          
         }
         .box-3{
            z-index: 100;
            position: absolute;    
            overflow: hidden;
            background-color: #b6b5b5;
            left: 472px;
            transition: background-color 1s ease;
            &:hover{
                background-color: #eb6767;
                z-index: 1000;
                cursor: pointer;

                .text-background{
                    color: $salmon-pink;
                }
                .box-hidden{
                    display: block;
                }
            }
            .box-hidden{
                display: none;
                height: 194px;
                width: 220px;
                padding: 20px 20px;
            }
            .box-show{
                padding: 20px 20px;
                width: 220px;
                height: 205px;
                z-index: 101;
            }
            .title-box{
                font-family: 'Roboto';
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1.1px;
                color: $white;
            }
            .sub-title-box{
                font-family: "Playfair Display";
                font-size: 18px;
                letter-spacing: -0.4px;
                color: $white;
                width: 120px;
                margin-top: -14px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text{
                font-family: 'Roboto';
                font-size: 16px;
                letter-spacing: -0.5px;
                color: $white;
                width: 200px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text-background{           
                font-size: 173px;
                font-family: 'Roboto';
                font-weight: bold;
                color: #bbbabb;
                z-index: -1;
                white-space: nowrap;
                overflow: hidden;
                line-height: 140px;
                top: 75px;
                left: 52px;
                position: absolute;
                transition: background-color 1s ease;

            }
            .rectangule{
                width: 45px;
                height: 5px;    
                background-color: $white;
                margin: 20px 0;
                z-index: 99;
            }
          
         }
         .box-4{
            z-index: 99;
            position: absolute;
            overflow: hidden;
            background-color: #cecece;
            left: 472px;
            top: 204px;
            transition: background-color 1s ease;
            &:hover{
                background-color: #eb6767;
                z-index: 1000;
                cursor: pointer;

                .text-background{
                    color: $salmon-pink;
                }
                .box-hidden{
                    display: block;
                }
            }
           
            .box-show{
                width: 403px;
                height: 195px;
                z-index: 100;
                padding: 20px 20px;
            }
            .title-box{
                font-family: 'Roboto';
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1.1px;
                color: $white;
                text-align: right;

            }
            .sub-title-box{
                font-family: "Playfair Display";
                font-size: 18px;
                letter-spacing: -0.4px;
                color: $white;
                width: 120px;
                margin-top: -14px;
                text-align: right;
                float: right;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text{
                font-family: 'Roboto';
                font-size: 16px;
                letter-spacing: -0.5px;
                color: $white;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                width: 199px;
            }
            .text-background{           
                font-size: 173px;
                font-family: 'Roboto';
                font-weight: bold;
                color: #d3d3d3;
                z-index: -1;
                white-space: nowrap;
                overflow: hidden;
                line-height: 140px;
                top: 78px;
                left: 45px;
                position: absolute;
                transition: background-color 1s ease;
           
                
            }
            .rectangule{
                width: 45px;
                height: 5px;    
                background-color: $white;
                margin: 20px 0;
                margin-top: 0;

            }
          
         }
         .box-5{
            z-index: 99;
            position: absolute;
            overflow: hidden;
            background-color: #b6b5b6;
            left: 875px;
            top: 0;
            transition: background-color 1s ease;
            &:hover{
                background-color: #eb6767;
                z-index: 1000;
                cursor: pointer;

                .text-background{
                    color: $salmon-pink;
                }
                .box-hidden{
                    display: block;
                }
            }
            .box-hidden{
                display: none;
                width: 297px;
                padding: 20px 20px;
                margin-top: -73px;
            }
            .box-show{
                width: 297px;
                height: 330px;
                z-index: 100;
                padding: 20px 20px;
            }
            .title-box{
                font-family: 'Roboto';
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1.1px;
                color: $white;
            }
            .sub-title-box{
                font-family: "Playfair Display";
                font-size: 18px;
                letter-spacing: -0.4px;
                color: $white;
                width: 120px;
                margin-top: -14px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text{
                font-family: 'Roboto';
                font-size: 16px;
                letter-spacing: -0.5px;
                color: $white;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text-background{           
                font-size: 240px;
                font-family: 'Roboto';
                font-weight: bold;
                color: #bdbdbd;
                z-index: -1;
                white-space: nowrap;
                overflow: hidden;
                top: 40px;
                left: 60px;
                line-height: 188px;
                right: -92px;
                position: absolute;
                transition: background-color 1s ease;
               
            }
            .rectangule{
                width: 45px;
                height: 5px;    
                background-color: $white;
                margin: 20px 0;
            }
          
         }
         .box-img-0{     
            width: 232px;
            height: 398.8px;
            position: absolute;
            z-index: 99;
            overflow: hidden;
            left: 240px;
         }
         .box-img-mini{
            width: 183px;
            height: 150px;
            position: absolute;
            top: 55px;
            left: 692px;
         }
    }

    .boxes-equipo{
        position: relative;
        width: 240px;
        height: 400px;
       
        .box-1{
            z-index: 99;
            position: absolute;
            overflow: hidden;
            background-color: #999999;
            transition: background-color 1s ease;
            left: 232px;
            &:hover{
                background-color: $dark-periwinkle;
                z-index: 1000;
                cursor: pointer;

                .text-background{
                    color: $soft-blue-2;
                }
                .hidden{
                    visibility: visible;
                }
            }
            .box-show{
                width: 400px;
                height: 400px;
                z-index: 100;
                padding: 20px 20px;
            }
            .title-box{
                font-family: 'Roboto';
                font-size: 48px;
                font-weight: bold;
                letter-spacing: -1.1px;
                color: $white;
                text-align: right;
            }
            .sub-title-box{
                font-family: "Playfair Display";
                font-size: 18px;
                letter-spacing: -0.4px;
                color: $white;
                text-align: right;
                margin-top: -14px;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text{
                font-family: 'Roboto';
                font-size: 16px;
                letter-spacing: -0.5px;
                color: $white;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
            }
            .text-background{           
                font-size: 268px;
                font-family: 'Roboto';
                font-weight: bold;
                color: #d3d3d3;
                z-index: -1;
                white-space: nowrap;
                overflow: hidden;
                line-height: 186px;
                top: 0;
                left: -290px;
                position: absolute;
                transition: background-color 1s ease;
            }
            .rectangule{
                width: 45px;
                height: 5px;    
                background-color: $white;
                margin: 20px 0;    
                margin-top: 120px;
            }
          
        }
        .box-img-0{     
            width: 232px;
            height: 398.8px;
            position: absolute;
            z-index: 99;
            overflow: hidden;
           
         }

         .box-img-1{     
            width: 540px;
            height: 350px;
            position: absolute;
            z-index: 99;
            overflow: hidden;
            left: 632px;
         }
    }

    .pagination {
        margin-top: 10px;
        &.personas{
            a{
                &.active{
                    color: #eb6767;
                    border-bottom: 2px solid #eb6767;
                }
            }


        }
        &.equipo{
            a{
                &.active{
                    color: $dark-periwinkle;
                    border-bottom: 2px solid $dark-periwinkle;
                }
            }
        }
        &.futura{
            a{
                &.active{
                    color: $greyish-teal;
                    border-bottom: 2px solid $greyish-teal;
                }
            }
        }
        &.innovacion{
            a{
                &.active{
                    color:  $soft-blue;
                    border-bottom: 2px solid  $soft-blue;
                }
            }
        }
        
        a{
            margin-left: 20px;
            font-family: 'Roboto';
            font-size: 21px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #999999;
            text-decoration: none;
            &.active{
                font-family: 'Roboto';
                font-size: 21px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
              
            }
        }
    }
      
     
  
}