.page{
    padding-left: 80px;
    padding-right: 0;
    overflow-x: hidden;
    .content{
        padding-right: 0;
        .header{
            padding: 20px;
            .router{
                font-family: Roboto;
                font-size: 13px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #9c9e9f;
                span{
                    color: var(--black);
                }
            }
            .title {
                color: #212121;
                font-family: Roboto;
                font-size: 101px;
                font-weight: bold;
                letter-spacing: -0.9px;
                line-height: 119px;
            }
            .title-red {
                color: red;
                font-family: Roboto;
                font-size: 58px;
                letter-spacing: -0.9px;
                line-height: 58px;
                max-width: 330px;
            }
            .sub-title {
                color: #212121;
                font-family: Roboto;
                font-size: 58px;
                font-weight: bold;
                line-height: 68px;
                margin-top: -24px;
            }
            .sub-title-red {
                color: #212121;
                font-family: Roboto;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;
                margin-top: 12px;
            }
            .cube{
                position: absolute;
                right: 0;
                top: 0
            }
            .cube-large{
                position: absolute;
                right: 0;
                top: 100px;
            }
        }
        .box-wrapp{
            padding: 16px;
            .box{
             .title {
                 color: #212121;
                 font-family: "Playfair Display";
                 font-size: 22px;
                 letter-spacing: -0.6px;
                 line-height: 21px;
                 margin-bottom: 16px;
             }
             .sub-title{
                 color: #777777;
                 font-family: Roboto;
                 font-size: 12px;
                 letter-spacing: -0.3px;
                 line-height: 16px;     
             }
             &:hover{
                  .title{
                      color:#63AFDC;
                      cursor: -webkit-grab; 
                      cursor: grab;
                  }
             }
           }
           
        }

        .carousel{
            .carousel-item{
                button{
                    position: absolute;
                    left: 16px;
                    display: none;
                }
                .img-full{
                    max-height: 300px;
                    min-height: 300px;
                }
                .wrap-images{
                    position: relative;
                    max-height: 300px;
                    min-height: 300px;
                
                    .image1{
                       margin-left: 30%;
                    }
                    .image2{
                        position: absolute;
                        right: 0;
                        top: -100px;
                        width: 347px;
                    
                    }
                    .image3{
                        position: absolute;
                        left: 0;
                        top: -100px;
                        width: 347px;
                    
                    }
                }
                &:hover{
                    button{
                        display: initial;
                    }
                }
            }
        }
    }
   .left-side{
        &.with-img{
            background-image: url('../img/croquis-1.jpg');
            background-repeat: no-repeat;
            background-position: bottom right;
        }
        .logo-empresa{
            margin-top: 30px; 
            text-align: right;
            img{
                max-width: 130px;
            }
        }
        .find,.share{
             margin-top: 30px;
             text-align: right;
        }
       
   }
   .extra{
    .cube-large{
        position: absolute;
        top: 0;
     }
   }    
}