
 $black: #333333;
 $white: #ffffff;
 $brownish-grey-two: #666666;
 $very-light-pink-two: #dadada;
 $very-light-pink: #f3f3f3;
 $seafoam-blue: #76ccca;
 $coral-pink: #ef6569;
 $light-salmon: #fea391;
 $light-peach: #ffbcaf;
 $salmon-pink: #f3777a;
 $greyish-teal: #5cb6b3;
 $soft-blue: #63afdc;
 $lightblue: #70bae5;
 $dark-periwinkle: #707fc5;
 $soft-blue-2: #8592d1;