
<div id="descargables" class="descargables">
    <img src="./assets/hero-descargables.jpg"
    srcset="./assets/hero-descargables@2x.jpg 2x,
            ./assets/hero-descargables@3x.jpg 3x"
    class="img-fluid hero-img">  
  <div class="row  image-background descargables">
    
        <div class="col  p-0">
          <div class="header">
        <span class="home-breadcrumb dark" ui-sref="app.pages.home">Home</span> / <span class="white">Descargables</span>
          </div>
          <div class="title white">
              Descargables
          </div>
          <div class="divider-header white"></div>
        </div>
        <div class="col col-sm-1 p-0">
            <div class="cube animated rollIn delay-1s"></div>
            <div class="cube-large-2 animated rollIn delay-1s"></div>
        </div>
        <div class="col-sm-3 p-0">
            <div class="row">
              <div class="col p-0">
                <div class="cube-large animated rollIn delay-1s"></div>
              </div>
              <div class="col  p-0">
            <div class="static-logo menu-aux">
              <div class="logo-empresa"  ui-sref="app.pages.home">
                <img src="./assets/empresas-socovesa-logo-blanco.svg" alt="" />
              </div>
              <div class="icon" ng-click="openSearch()">
                <img src="./assets/icono-buscar-blanco.svg" alt="" />
              </div>
            <div class="icon share-rrss">
              <img src="./assets/icono-compartir-blanco.svg" alt="" />
              <div class="box-rrss">
	          	<img src="./assets/facebook-light.svg" alt="" ng-click="setShareLinks('facebook',$event)" />
	          	<img src="./assets/twitter-light.svg" alt="" ng-click="setShareLinks('twitter',$event)" />
	          	<img src="./assets/linkedin-light.svg" alt="" ng-click="setShareLinks('linkedin',$event)" />    
              </div>
            </div>
                </div>
              </div>
            </div>
        </div>
<div class="scrolldown">
 <img width="40" height="40" alt="" src="./assets/chevron.svg" />
</div>
      </div>
      <div class="title-descargable ">
          Resumen <br> memoria 2018
      </div>
      <section class="wrapp-download" data-aos="fade-up"
     data-aos-duration="3000">
        <div class="title-link-download">Descarga por Capítulo</div>
        <div class="link-download"  ng-click="download('capitulo-completo-1.pdf')">1.	Ejercicio 2018 y perspectovas 2019</div>
        <div class="link-download"  ng-click="download('capitulo-completo-2.pdf')">2.	Identificación de la Compañía</div>
        <div class="link-download"  ng-click="download('capitulo-completo-3.pdf')">3.	Descripción del ámbito de negocios</div>
        <div class="link-download"  ng-click="download('capitulo-completo-4.pdf')">4.	Propiedad y acciones</div>
        <div class="link-download"  ng-click="download('capitulo-completo-5.pdf')">5.	Administración y personal</div>
        <div class="link-download"  ng-click="download('capitulo-completo-6.pdf')">6.	Responsabilidad social, desarrollo sostenible y Gobierno Corporativo</div>
        <div class="link-download"  ng-click="download('capitulo-completo-7.pdf')">7.	Información sobre subsidiarias y asociadas e inversiones en otras sociedades</div>
        <div class="link-download"  ng-click="download('capitulo-completo-8.pdf')">8.	Hechas esenciales</div>
        <div class="link-download"  ng-click="download('capitulo-completo-9.pdf')">9.	Síntesis de comentarios y proposiciones de accionistas y del Comité de Directores</div>
        <div class="link-download"  ng-click="download('capitulo-completo-10.pdf')">10.	Antecedentes financieros</div>
        <div class="link-download"  ng-click="download('capitulo-completo-11.pdf')">11.	Declaración de responsabilidad</div>
      </section>
     
      <div class="sub-menu row align-items-center justify-content-between ">
          <div class="col section " ui-sref="app.pages.compromisos">
            <i class="fas fa-chevron-left"></i> Compromiso con la Educación
          </div>
          <div class="col section  text-right"  ui-sref="app.pages.home">
              Inicio <i class="fas fa-chevron-right"></i>
          </div>
        </div>
        <div class="footer row justify-content-center">

        </div>
 
</div>
