<div id="layout-side-menu">
	<div id="side-menu" ui-view="navigation"></div>
	
	<div
		id="content"
		ui-view="content"
		class="anim-in-out anim-slide-below-fade"
		data-anim-speed="250"
	></div>
</div>
<div id="myNav" class="overlay" ng-class="{'w-100': isOpen}">
        <div class="title-menu">Memoria anual 2018
            <span class="close-menu" ng-click="vm.close()">X</span>
        </div>
        <div class="divider-header black"></div>
        <div class="row">
            <div class="col col-sm-4 p-0 wrapp-menu one">
                <div class="title-sub-menu" ng-click="vm.close()" ui-sref="app.pages.financieros">Highlights financieros</div>
                <div class="divider-sub-menu black"></div>
                <img src="./assets/banner-financieros.jpg"
                srcset="./assets/banner-financieros@2x.jpg 2x,
                        ./assets/banner-financieros@3x.jpg 3x"
                class="img-fluid banner">
                <div class="title-sub-menu">Highlights estratégicos</div>
                <div class="divider-sub-menu black"></div>
                <div class="sub-item" ng-click="vm.close()" ui-sref="app.pages.highlight-futura">_Modernización de la  estructura organizacional</div>
                <div class="sub-item" ng-click="vm.close()" ui-sref="app.pages.highlight-personas">_Diseño y venta de valor</div>
                <div class="sub-item" ng-click="vm.close()" ui-sref="app.pages.highlight-innovacion">_Diseño digital y transformación de la constructora</div>
                <div class="sub-item" ng-click="vm.close()" ui-sref="app.pages.highlight-rodea">_Desarrollo sostenible y? vinculación con el entorno</div>
                <div class="sub-item" ng-click="vm.close()" ui-sref="app.pages.highlight-equipo">_Talento y trabajo colaborativo</div>
                <div class="title-sub-menu"  ng-click="vm.close()" ui-sref="app.pages.carta-presidente">Carta del Presidente</div>
                <div class="divider-sub-menu black"></div>
                <div class="title-sub-menu" ng-click="vm.close()" ui-sref="app.pages.carta-gerente-general">Carta del Gerente General</div>
                <div class="divider-sub-menu black"></div>
            </div>
            <div class="col col-sm-4 p-0 wrapp-menu two">
                    <div class="title-sub-menu" ng-click="vm.close()" ui-sref="app.pages.tendencias">Tendencias 2018 de la industria</div>
                    <div class="divider-sub-menu black"></div>
                    <div class="title-sub-menu"  ng-click="vm.close()" ui-sref="app.pages.modernizacion">Desafío de modernización</div>
                    <div class="divider-sub-menu black"></div>
                    <img src="./assets/banner-desafio.jpg"
                    srcset="./assets/banner-desafio@2x.jpg 2x,
                            ./assets/banner-desafio@3x.jpg 3x"
                    class="img-fluid banner">
                    <div class="title-sub-menu" ng-click="vm.close()" ui-sref="app.pages.proyecciones">Proyecciones y plan de inversiones</div>
                    <div class="divider-sub-menu black"></div>
                    <div class="title-sub-menu"  ng-click="vm.close()"  ui-sref="app.pages.equipo">Equipo</div>
                    <div class="divider-sub-menu black"></div>
                    <img src="./assets/banner-equipo.jpg"
                    srcset="./assets/banner-equipo@2x.jpg 2x,
                            ./assets/banner-equipo@3x.jpg 3x"
                    class="img-fluid banner">
            </div>
            <div class="col col-sm-4 p-0 wrapp-menu three">
                    <div class="title-sub-menu"   ng-click="vm.close()" ui-sref="app.pages.marcas">Resultados por marcas</div>
                    <div class="divider-sub-menu black"></div>
                    <div class="sub-item">_Almagro</div>
                    <div class="sub-item">_Pilares</div>
                    <div class="sub-item">_Socovesa</div>
                    <div class="title-sub-menu"   ng-click="vm.close()" ui-sref="app.pages.sostenibilidad">Sostenibilidad</div>
                    <div class="divider-sub-menu black"></div>
                    <img src="./assets/banner-sostenibilidad.jpg"
                    srcset="./assets/banner-sostenibilidad@2x.jpg 2x,
                            ./assets/banner-sostenibilidad@3x.jpg 3x"
                    class="img-fluid banner">
                    <div class="title-sub-menu"  ng-click="vm.close()" ui-sref="app.pages.compromisos">Compromiso con la educación</div>
                    <div class="divider-sub-menu black"></div>
                    <div class="title-sub-menu" ng-click="vm.close()" ui-sref="app.pages.descargables">Descargables</div>
                    <div class="divider-sub-menu black"></div>
                    
            </div>
        </div>
    
</div>