#home {
  .row {
    margin: 0;
  }
  .wrapp {
    margin-left: 80px;
    margin-right: 0;
  }
  .title {
    padding-top: 7px;
    font-family: 'Roboto';
    font-size: 101px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    color: $black;
  }
  .sub-title {
    font-family: 'Roboto';
    font-size: 58px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
    margin-top: -22px;
  }
  .cube-large-2 {
    width: 20px;
    height: 70px;
    background-color: #f9eb02;
    margin-top: 90px;
    margin-right: 80px;
  }

  .cube {
    width: 20px;
    height: 20px;
    background-color: #f9eb02;
    margin-right: 80px;
  }
  .img-slider {
    position: relative;
    margin-top: -16px;
    z-index: -1;
    img {
      position: absolute;
      width: 100%;
    }
  }

  .box-wrapp {
    margin-top: 38px;
    .box {
      margin-right: 5px;
      .title-box {
        font-family: 'Playfair Display';
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.95;
        letter-spacing: -0.6px;
        color: $black;
        min-height: 42px;
      }
      .sub-title-box {
        margin-top: 10px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: -0.3px;
        color: #777777;
        min-height: 32px;
        margin-bottom: 10px;
      }
      &:hover {
        .title-box.personas {
          cursor: pointer;
          color: #eb6767;
        }
        .button-soco.personas {
          visibility: visible;
        }
        .title-box.rodea {
          cursor: pointer;
          color: $peach-dark;
        }
        .button-soco.rodea {
          visibility: visible;
        }
        .title-box.futuro {
          cursor: pointer;
          color: $greenwater-dark;
        }
        .button-soco.futuro {
          visibility: visible;
        }
        .title-box.equipo {
          cursor: pointer;
          color: $periwinkle-dark;
        }
        .button-soco.equipo {
          visibility: visible;
        }
        .title-box.innovacion {
          cursor: pointer;
          color: $blue-dark;
        }
        .button-soco.innovacion {
          visibility: visible;
        }
      }
    }
  }

  .cube-large{
    width: 20px;
    height: 60px;
    background-color: #f9eb02;
    margin-left: 90px;
  }

  .croquis{
    margin-top: -140px;
     img{
        width: 100%;
     }
  }
  .static-logo{
      padding-right: 21px;
      padding-top: 20px;
      
      .logo-empresa{
          width: 129px;
          height: 29px;
          margin: 0 auto;
          margin-bottom: 10px;
          img{
              width: 130px;
          }
      }
      .icon{
          margin-top: 20px;
          text-align: right;
      }
  }
}
