
<div id="compromisos" class="compromisos">
    <img src="./assets/hero-compromisos.jpg"
    srcset="./assets/hero-compromisos@2x.jpg 2x,
            ./assets/hero-compromisos@3x.jpg 3x"
    class="img-fluid hero-img">  
  <div class="row  image-background compromisos">
    
        <div class="col  p-0">
          <div class="header">
            Home /<span class="white">Resultados por compromisos</span>
          </div>
          <div class="title white">
                Resultados <br>
                por compromisos
          </div>
          <div class="divider-header white"></div>
        </div>
        <div class="col col-sm-1 p-0">
            <div class="cube animated rollIn delay-1s"></div>
            <div class="cube-large-2 animated rollIn delay-1s"></div>
        </div>
        <div class="col-sm-3 p-0">
            <div class="row">
              <div class="col p-0">
                <div class="cube-large animated rollIn delay-1s"></div>
              </div>
              <div class="col  p-0">
                <div class="static-logo">
                  <div class="logo-empresa"  ui-sref="app.pages.home">
                    <img src="./assets/empresas-socovesa-logo-blanco.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="./assets/icono-buscar-blanco.svg" alt="" />
                  </div>
                  <div class="icon" ng-click=share()>
                    <img src="./assets/icono-compartir-blanco.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="./assets/icono-download-blanco.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="cita ">
            Facilitar y fortalecer la entrega de una educación de calidad, es el foco estratégico de la política de responsabilidad social de Empresas Socovesa y se materializa, fundamentalmente, a través del apoyo a la Corporación Educacional Emprender.
        </div>
        <div class="divider"></div>
        <section class="row ">
           
                  <div class="col-sm-4 parrafo one p-0">
                    <p class="p-l-60">La relación de cooperación entre Empresas Socovesa y Emprender se remonta al menos al 2013 cuando entre ambas organizaciones lanzan un Fondo de Becas el cual permitió que decenas de alumnos, a pesar de sus problemas económicos, pudiesen continuar con su plan de estudios, evitando la deserción escolar. </p>
                    <p class="p-l-60">Junto con este sistema de financiamiento, se realizaron también actividades grupales de voluntariado, orientadas al mejoramiento de la infraestructura de los colegios, las que a pesar del esfuerzo, carecían de continuidad y se llevaban a cabo esporádicamente, como respuesta a necesidades puntuales de la Corporación. 
                        Estas iniciativas fueron el puntapié inicial para definir una política de Responsabilidad Social de Empresas Socovesa que apalancara los objetivos de la Corporación y que fortaleciera el rol social de la Compañía.</p>
                    </div>
              
                  <div class="col-sm-8 parrafo  three p-0 ">
                      <div class="text-compromisos croquis-margin-compromisos">Esto se tradujo el 2017 en la firma de un Acuerdo Marco entre ambas instituciones, y el lanzamiento del primer programa oficial de Voluntariado Corporativo.</div>
                      <br>
                      <p class="croquis-margin-compromisos">Este programa que contempla 6 formas distintas de apoyo a la Corporación terminó de ejecutarse totalmente durante el 2018 cerrando exitosamente su primer año de operación con la participación de XXX voluntarios y beneficiando en total a XXX alumnos y sus familias.</p>
                      <img class="img-fluid croquis-3-2" src="./assets/croquis-3-2.jpg"
                      srcset="./assets/croquis-3-2@2x.jpg 2x,
                              ./assets/croquis-3-2@3x.jpg 3x"
                      >
                
            </div>  
          </section>
          <div class="col col-sm-12  p-0">
              <img class="img-fluid w-100 img-educacion" src="./assets/fotos-educacion.png"
              srcset="./assets/fotos-educacion@2x.png 2x,
                      ./assets/fotos-educacion@3x.png 3x"
              >
          </div>
          <section class="row background-compromisos">
            
             <div class="col col-sm-8 offset-sm-3  p-0 ">
                
              <div class="title-compromisos background-offset">1. Fondo becas 1 + 1</div>
              <div class="contenido-compromisos">Durante el 2018 y gracias al esfuerzo conjunto de los empleados de la Compañía con Empresas Socovesa, se donaron a Emprender $ XXX, lo que se tradujo en que XXX familias pudieron darle continuidad a los estudios de sus hijos, a pesar de sus dificultades económicas.</div>
             </div>
          </section>
          <section class="row ">
            
              <div class="col col-sm-8 p-0 ">
                 
               <div class="title-compromisos-2 ">2. Fondo de emprendimiento</div>
               <div class="contenido-compromisos-2">Cuatro de los ocho proyectos de emprendimiento escolar que recibieron financiamiento el 2017, lograron superar la primera etapa de desarrollo, pasando de la ideación, a la ejecución de la idea de negocio. El éxito de estos proyectos, entre los que se cuenta una panadería en Puente Alto y una empresa de poleras personalizadas, radicó en gran parte, en las asesorías que los voluntarios dedicaron a cada iniciativa durante el 2018.</div>
              </div>
              <div class="col col-sm-4  p-0 img-education-parrafos">
                  <img class="img-fluid w-100  " src="./assets/foto-emprendimiento.jpg"
                  srcset="./assets/foto-emprendimiento@2x.jpg 2x,
                          ./assets/foto-emprendimiento@3x.jpg 3x"
                  >
              </div>

           </section>
           <section class="row background-coaching ">
              <div class="col col-sm-4  p-0 img-education-parrafos">
                  <img class="img-fluid w-100  " src="./assets/coaching.jpg"
                  srcset="./assets/coaching@2x.jpg 2x,
                          ./assets/coaching@3x.jpg 3x"
                  >
              </div>
              <div class="col col-sm-6 p-0 ">
                 
               <div class="title-compromisos-3 ">3. Coaching vocacional</div>
               <div class="contenido-compromisos-3">Se trata de mentorías individuales para guiar a los alumnos de tercero medio en la elección de su futura carrera técnica o profesional. En este caso, fueron 12 alumnos que, apoyados por 12 colaboradores, pudieron avanzar en esa difícil decisión. Se trató de una de las iniciativas más valoradas por los alumnos y por el equipo interno, especialmente por la posibilidad de conocer nuevas realidades, por la experiencia de vivir un día de trabajo dentro de Empresas Socovesa, y por el vínculo y cercanía que se generó entre ellos. .</div>
              </div>
              

           </section>
           <section class="row ">
            
              <div class="col col-sm-8 p-0 ">
                 
               <div class="title-compromisos-2 ">4. Conversatorios en Inglés</div>
               <div class="contenido-compromisos-2">Una vez al mes y durante todo el año, un grupo de estudiantes de Lampa y Puente Alto se reunió cada lunes a conversar en inglés y por una hora sobre distintos temas de interés, mejorando su capacidad de comunicarse en ese idioma. Además de fortalecer las habilidades comunicativas de los alumnos, fue una oportunidad para discutir sobre fenómenos que están marcando la agenda social, como el bullying escolar, las redes sociales o la inmigración.</div>
              </div>
              <div class="col col-sm-4  p-0 img-education-parrafos" >
                  <img class="img-fluid w-100  " src="./assets/alumnos.jpg"
                  srcset="./assets/alumnos@2x.jpg 2x,
                          ./assets/alumnos@3x.jpg 3x"
                  >
                  <div class="wrapp-play-2">
                        <img
                          ng-click="vm.openModal()"
                          src="./assets/boton-play.svg"
                          class="button-play "
                        />
                      </div>
              </div>

           </section>
      <div class="sub-menu row align-items-center justify-content-between ">
          <div class="col section " ui-sref="app.pages.sostenibilidad">
            <i class="fas fa-chevron-left"></i> Sostenibilidad
          </div>
          <div class="col section  text-right" ui-sref="app.pages.descargables">
                Descargables <i class="fas fa-chevron-right"></i>
          </div>
        </div>
        <div class="footer row justify-content-center">
          <button
            type="button"
            class="btn btn-outline-secondary button-soco-outline  "
          >
          Descargar Capítulo
          </button>
        </div>
        
 <!-- Modal -->
 <script
 type="text/ng-template"
 id="videoModal.html"
 class="modal-video"
 >
 <div class="modal-body" id="modal-body">
     <div class="embed-responsive embed-responsive-16by9" ng-if="vm.src">
     <video controls autoplay id="demoVideo"
     >
     <source src="./assets/{{vm.src}}" type="video/mp4">
         Your browser does not support HTML5 video.

     </video>
     </div>
 </div>
 </script>
</div>
