<div id="mordernizacion" class="mordernizacion">
    <img src="./assets/hero-mordernizacion.jpg"
		srcset="./assets/hero-mordernizacion@2x.jpg 2x,
				./assets/hero-mordernizacion@3x.jpg 3x"
		class="img-fluid hero-img">
  <div class="row  image-background mordernizacion">
    
    <div class="col  p-0">
      <div class="header">
        Home /<span class="white">Desafío de modernización</span>
      </div>
      <div class="title white">
          Desafío de <br>
          modernización
      </div>
      <div class="divider-header white"></div>
    </div>
    <div class="col col-sm-1 p-0">
        <div class="cube animated rollIn delay-1s"></div>
        <div class="cube-large-2 animated rollIn delay-1s"></div>
    </div>
    <div class="col-sm-3 p-0">
        <div class="row">
          <div class="col p-0">
            <div class="cube-large animated rollIn delay-1s"></div>
          </div>
          <div class="col  p-0">
            <div class="static-logo">
              <div class="logo-empresa"  ui-sref="app.pages.home">
                <img src="./assets/empresas-socovesa-logo-blanco.svg" alt="" />
              </div>
              <div class="icon" ng-click="openSearch()"> 
                <img src="./assets/icono-buscar-blanco.svg" alt="" />
              </div>
              <div class="icon"  ng-click="share($event)">
                <img src="./assets/icono-compartir-blanco.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./assets/icono-download-blanco.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
    </div>
<div class="scrolldown">
 <img width="40" height="40" alt="" src="./assets/chevron.svg" />
</div>
  </div>
  <div class="cita ">
      El 2018 Empresas Socovesa inició un proceso interno de modernización el cual viene a sostener una nueva forma de diseñar, construir, vender y relacionarse con el entorno, buscando de esta manera, fortalecer sus fundamentos de crecimiento para los próximos años. Este proceso llevó a la Compañía a formalizar su propósito, pilares estratégicos, y principios culturales y a trazar el camino que le permitirá consolidarse como una empresa de diseño centrada en el habitar.  </div>
  <div class="divider"></div>
  <section class="row box-parrafos">
    <div class="col-md-12 p-0 ">
      <div class="row">
          <div class="col-sm-6 parrafo one p-0">
            <p>Aprovechando su sólida posición financiera y teniendo claros los desafíos futuros que enfrenta la industria inmobiliaria, Empresas Socovesa inició el 2018 el proceso de modernización organizacional más importante de su historia reciente a través del cual busca consolidarse como una sola gran empresa de diseño, centrada en el habitar de las personas. </p>
            <p>Esta decisión de cambio responde a varias razones, siendo la más significativa, fortalecer la generación de rentabilidades atractivas para la Compañía, adaptándose mejor al nuevo entorno  urbano y de negocios. </p>
            <p>En concreto, transitar hacia una empresa de diseño significa  fortalecer aún más el foco en el cliente, potenciar el desarrollo de productos más conectados con sus necesidades, contar con equipos de trabajo más especializados, métodos de trabajo colaborativos, transferir mejores prácticas y atraer y retener al mejor talento. </p>
          
          </div>
      
          <div class="col-sm-6 parrafo  three p-0 ">
              <p>Los cambios organizacionales se materializaron con el apoyo de una consultora externa, experta en procesos adaptativos, la que además de entregar apoyo a cada una de las áreas intervenidas, facilitó la definición de un nuevo relato corporativo para Empresas Socovesa y sus marcas.</p>
              <img class="img-fluid croquis-11" src="./assets/croquis-11.jpg"
              srcset="./assets/croquis-11@2x.jpg 2x,
                      ./assets/croquis-11@3x.jpg 3x"
              >
          </div>
      </div>
    </div>  
  </section> 
  
	<section class="row box-parrafos background-color">
      <section class="col-sm-12 p-0 tabs-modernizacion">
          <uib-tabset active="0" justified="true">
            <uib-tab class="modernizacion " index="0" >
              <uib-tab-heading>
                  ESTRATEGIA 
              </uib-tab-heading>
                    
              <div class="info-tab row">
                 <div class="col-sm-12">
                    <img src="./assets/video-fallback.jpg"
                  srcset="./assets/video-fallback@2x.jpg 2x,
                          ./assets/video-fallback@3x.jpg 3x"
                  class="img-fluid w-100">
                  <div class="wrapp-play-3">
                      <img
                        ng-click="vm.openModal()"
                        src="./assets/boton-play.svg"
                        class="button-play "
                      />
                    </div>
                 </div>
                
              
              </div>
            </uib-tab>
            <uib-tab class="modernizacion" index="1">
              <uib-tab-heading>
                  VISIÓN 
              </uib-tab-heading>
              <div class="info-tab row">
                  <div class="col-sm-6 parrafo one p-0">
                    <div class="title-vision-tab">Ser una empresa de diseño centrada en el habitar</div>
                    <p>Si miramos la historia de Empresas Socovesa, el diseño ha estado presente en el desarrollo de cada departamento y cada casa que ha construido. Sin embargo, durante los últimos 7 años, la Compañía fue transitando hacia un nuevo entendimiento del diseño donde éste dejó de ser una función limitada a solo un área de la Compañía para pasar a estar en el centro de la estrategia del negocio.</p>
                    
                  </div>
              
                  <div class="col-sm-6 parrafo  three p-0 ">
                      <p>El diseño, como Empresas Socovesa lo entiende actualmente, integra conocimientos y disciplinas -como la arquitectura, la ingeniería y las ciencias sociales-, exige métodos de trabajo más colaborativos y pone el conocimiento del consumidor al servicio del desarrollo de productos que solucionen –funcional, estética y emocionalmente hablando- las múltiples necesidades del habitar de las personas.
                        </p>
                      <p>Esta relevancia que se le da al diseño, representa una nueva forma de entender el negocio inmobiliario, donde el valor ya no está solo en la tierra sino también, y con mayor acento, en el producto.</p>
                  </div>
              </div>
            </uib-tab>
            <uib-tab class="modernizacion" index="2">
                <uib-tab-heading>
                    CULTURA 
                </uib-tab-heading>
                <div class="info-tab row">
                    <p class="parrafo">Finalmente, la Compañía trabajó en la definición y formalización de su propósito, el cual responde a la pregunta de para qué hacemos lo que hacemos. Es así como se acordó que el propósito compartido de Empresas Socovesa es "mejorar la vida de las personas, diseñando y construyendo espacios de calidad" y que ese propósito debía sostenerse en una cultura compartida entre todos.</p>
                    <p class="parrafo">Fue entonces cuando, a través de un proceso consultivo donde participaron casi 500 personas, se levantaron distintos atributos representativos de la cultura de cada una de las filiales del Grupo, logrando identificar 8 principios comunes. Estos 8 principios se denominaron “Nuestros Cimientos”.</p>          
                    <div class="sub-title-tab">Nuestros Cimientos</div>
                    <section class="col-sm-12 p-0 tabs-modernizacion-2">
                        <uib-tabset active="0" >
                            <uib-tab class="modernizacion " index="0" >
                              <uib-tab-heading>
                                  01 
                              </uib-tab-heading>
                               <div class="row">
                                 <div class="col col-sm-4 p-0">
                                    <img src="./assets/cultura-trabajo-colaborativo.png"
                                    srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                            ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                    class="img-fluid ">
                                 </div>
                                 <div class="col-sm-8 p-0">
                                    <div class="title-tab-paginacion">Trabajo colaborativo</div>
                                   <div class="text-tab-paginacion">La Compañía y sus personas son llamadas a mirar los resultados globales más allá de los objetivos individuales y a integrar distintas visiones para mejores resultados. </div>
                                 </div>
                               </div>
                            </uib-tab>
                            <uib-tab class="modernizacion" index="1">
                              <uib-tab-heading>
                                  02
                              </uib-tab-heading>
                              <div class="row">
                                  <div class="col col-sm-4 p-0">
                                     <img src="./assets/cultura-trabajo-colaborativo.png"
                                     srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                             ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                     class="img-fluid ">
                                  </div>
                                  <div class="col-sm-8 p-0">
                                     <div class="title-tab-paginacion">Poner al cliente en la conversación</div>
                                    <div class="text-tab-paginacion">Nuestro negocio comienza y termina en el cliente. Es por eso que la Compañía decide fortalecerse en su capacidad de poner al cliente y sus necesidades al centro de todas las decisiones organizacionales.</div>
                                  </div>
                                </div>
                            </uib-tab>
                            <uib-tab class="modernizacion" index="2">
                                <uib-tab-heading>
                                    03 
                                </uib-tab-heading>  
                                <div class="row">
                                    <div class="col col-sm-4 p-0">
                                       <img src="./assets/cultura-trabajo-colaborativo.png"
                                       srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                               ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                       class="img-fluid ">
                                    </div>
                                    <div class="col-sm-8 p-0">
                                       <div class="title-tab-paginacion">Observar el entorno</div>
                                      <div class="text-tab-paginacion">Sostener el liderazgo en la industria inmobiliaria requiere de una mirada amplia y una perspectiva sistémica de los distintos factores que influyen en el negocio inmobiliario.</div>
                                    </div>
                                  </div>
                            </uib-tab>
                            <uib-tab class="modernizacion" index="3">
                                <uib-tab-heading>
                                    04 
                                </uib-tab-heading> 
                                <div class="row">
                                    <div class="col col-sm-4 p-0">
                                       <img src="./assets/cultura-trabajo-colaborativo.png"
                                       srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                               ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                       class="img-fluid ">
                                    </div>
                                    <div class="col-sm-8 p-0">
                                       <div class="title-tab-paginacion">Buscar y aceptar nuevas miradas</div>
                                      <div class="text-tab-paginacion">Hacer las cosas mejor, implica salirse de la zona de comodidad y experimentar nuevas formas de enfrentar los desafíos. Es incorporar distintos puntos de vista y valorar la diversidad de opiniones, poniéndolas al servicio de un mejor resultado.</div>
                                    </div>
                                  </div> 
                            </uib-tab>
                            <uib-tab class="modernizacion" index="4">
                                <uib-tab-heading>
                                    05 
                                </uib-tab-heading>  
                                <div class="row">
                                    <div class="col col-sm-4 p-0">
                                       <img src="./assets/cultura-trabajo-colaborativo.png"
                                       srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                               ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                       class="img-fluid ">
                                    </div>
                                    <div class="col-sm-8 p-0">
                                       <div class="title-tab-paginacion">Preocupación por las personas</div>
                                      <div class="text-tab-paginacion">Somos una compañía que reconoce la contribución y el esfuerzo adicional del equipo en su trabajo. Buscamos que nuestras personas perciban el valor que cada uno le aporta al negocio.</div>
                                    </div>
                                  </div> 
                            </uib-tab>
                            <uib-tab class="modernizacion" index="5">
                                <uib-tab-heading>
                                    06
                                </uib-tab-heading>  
                                <div class="row">
                                    <div class="col col-sm-4 p-0">
                                       <img src="./assets/cultura-trabajo-colaborativo.png"
                                       srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                               ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                       class="img-fluid ">
                                    </div>
                                    <div class="col-sm-8 p-0">
                                       <div class="title-tab-paginacion">Comunicación oportuna</div>
                                      <div class="text-tab-paginacion">Un equipo alineado a la visión -"Convertirnos en una empresa de diseño"-, a la estrategia y a los objetivos de la compañía, genera un efecto multiplicativo sobre los resultados.</div>
                                    </div>
                                  </div>
                            </uib-tab>
                            <uib-tab class="modernizacion" index="6">
                                <uib-tab-heading>
                                    07 
                                </uib-tab-heading>  
                                <div class="row">
                                    <div class="col col-sm-4 p-0">
                                       <img src="./assets/cultura-trabajo-colaborativo.png"
                                       srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                               ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                       class="img-fluid ">
                                    </div>
                                    <div class="col-sm-8 p-0">
                                       <div class="title-tab-paginacion">Jugar limpio</div>
                                      <div class="text-tab-paginacion">Con más de 50 años liderando la industria inmobiliaria, Empresas Socovesa siempre ha puesto la ética en el centro de su gestión, tanto en los negocios, en las relaciones entre las áreas y con todos los grupos de interés con los que se relaciona.</div>
                                    </div>
                                  </div>
                            </uib-tab>
                            <uib-tab class="modernizacion" index="7">
                                <uib-tab-heading>
                                    08
                                </uib-tab-heading>  
                                <div class="row">
                                    <div class="col col-sm-4 p-0">
                                       <img src="./assets/cultura-trabajo-colaborativo.png"
                                       srcset="./assets/cultura-trabajo-colaborativo@2x.png 2x,
                                               ./assets/cultura-trabajo-colaborativo@3x.png 3x"
                                       class="img-fluid ">
                                    </div>
                                    <div class="col-sm-8 p-0">
                                       <div class="title-tab-paginacion">Si hay talento, se potencia</div>
                                      <div class="text-tab-paginacion">Valoramos a las personas que se fijan metas ambiciosas y que son apasionadas por alcanzarlas.</div>
                                    </div>
                                  </div>
                            </uib-tab>
                        </uib-tabset>
                    </section>
                   
                </div>
              </uib-tab>
          </uib-tabset>
          <!-- <img src="./assets/croquis-8.png"
     srcset="./assets/croquis-8@2x.png 2x,
             ./assets/croquis-8@3x.png 3x"
     class="croquis-8"> -->
        </section>  
  </section>
  <section class="row box-parrafos p-b-50">
      <div class="col-sm-12 p-0 title-modernizacion">
          Cambios en la estructura
      </div>
      <div class="col-md-12 p-0 ">
        <div class="row">
            <div class="col-sm-6 parrafo one p-0">
              <p>Durante el 2018, la Compañía dio inicio a distintos ajustes y movimientos dentro de su estructura organizacional. Conceptualmente hablando, estos cambios buscan fortalecer la capacidad de las marcas de diseñar centradas en las personas y vender valor inmobiliario. </p>
              <p>La mayor especialización de Socovesa Santiago, Socovesa Sur, Almagro y Pilares, va de la mano y se sostiene en áreas corporativas de apoyo que se han fortalecido, con nuevas funciones de soporte para el negocio. </p>
              <p>El primer paso en esta dirección fue la fusión del departamento de Arquitectura, área que ahora presta servicios a todas las filiales del Grupo aprovechando así el conocimiento y las habilidades que tiene este equipo en todos los proyectos de las filiales. </p>
            </div>
        
            <div class="col-sm-6 parrafo  three p-0 ">
              <div class="text-modernizacion">La Compañía seguirá realizando cambios durante el año 2019-2020 en miras de ir consolidando esta modernización organizacional.</div>
              <p>Asimismo, el área de Operaciones Comerciales pasó a manejarse centralizadamente. Lo anterior implicó que todo el proceso de preparación del cliente para suscribir la escritura de compraventa y en definitiva, concretar la compra de su vivienda, hoy se hace a través de un solo equipo que depende de la Gerencia de Finanzas Corporativas de Empresas Socovesa. </p>              
            </div>
        </div>
      </div>  
    </section> 
    <section class="row box-parrafos p-b-50">
        <div class="col-sm-12 p-0 title-modernizacion-2">
            Nuevo edificio corporativo
        </div>
        <div class="col-md-12 p-0 ">
          <div class="row">
            
              <div class="col-sm-6  p-0">
                  <img src="./assets/edificio-corporativo.jpg"
                  srcset="./assets/edificio-corporativo@2x.jpg 2x,
                          ./assets/edificio-corporativo@3x.jpg 3x"
                          class="img-fluid edificio-corporativo">
              </div>
          
              <div class="col-sm-6 parrafo  p-0 ">
                <p>Enmarcado en este proceso, el Directorio y la Administración decidieron que, en un horizonte de aproximadamente 5 años, a contar del 01 de enero de 2019, tanto la matriz como todas sus filiales, con excepción de la filial Socovesa Sur, tendrán sus oficinas en un mismo edificio corporativo ubicado en la ciudad de Santiago. </p>
                <div class="text-modernizacion">Este hecho constituye la materialización de la idea de ser una sola gran empresa</div>
                <p>Y permitirá potenciar aún más la colaboración y el trabajo multidisciplinario, aspectos determinantes en el diseño de buenos productos inmobiliarios. </p>
              </div>
          </div>
        </div>  
      </section> 
  <div class="sub-menu row align-items-center justify-content-between ">
    <div class="col section " ui-sref="app.pages.tendencias">
      <i class="fas fa-chevron-left"></i> Tendencias de la industria
    </div>
    <div class="col section  text-right" ui-sref="app.pages.proyecciones">
        Proyecciones y plan de inversiones <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div class="footer row justify-content-center">
    <button
      type="button"
      class="btn btn-outline-secondary button-soco-outline  "
    >
    Descargar Capítulo
    </button>
  </div>
    <!-- Modal -->
    <script
    type="text/ng-template"
    id="videoModal.html"
    class="modal-video"
    >
    <div class="modal-body" id="modal-body">
        <div class="embed-responsive embed-responsive-16by9" ng-if="vm.src">
        <video controls autoplay id="demoVideo"
        >
        <source src="./assets/{{vm.src}}" type="video/mp4">
            Your browser does not support HTML5 video.

        </video>
        </div>
    </div>
    </script>
</div>
