<div id="highlight" >
        <div class="row ">
                <div class="col  p-0">
                    <div class="header">
                        Home /<span class="black">Highlights Estratégicos</span>
                    </div>
                    <div class="title rodea">
                            Pensar en <br>
                            lo que nos rodea
                    </div>
                    <div class="sub-title">
                            Diseño sostenible y vinculación con el entorno
                    </div>
                   
                   
                </div>
               
                <div class="col-sm-3 p-0">
                    <div class="row">
                        <div class="col  p-0">
                            <div class="static-logo">
                                <div class="logo-empresa"  ui-sref="app.pages.home">
                                    <img src="./assets/empresas-socovesa-logo.svg" alt="" />
                                </div>
                                <div class="icon" ng-click="openSearch()">
                                    <img src="./assets/icono-buscar.svg" alt="" />
                                </div>
                                <div class="icon" ng-click="share($event)"> 
                                    <img src="./assets/icono-compartir.svg" alt="" />
                                </div>
                                <div class="icon">
                                    <img src="./assets/icono-download.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col p-0">
                            <div class="text">
                                    Año a año Empresas Socovesa ha ido avanzando y profundizando en su estrategia de sostenibilidad, promoviendo el diálogo con los vecinos y con iniciativas que van en línea con un desarrollo urbano más armónico y más respetuoso con el entorno. 
                            </div>
                    </div>
                    <div class="col-sm-3 p-0">
                            <div class="text">
                                 <div class="pagination rodea">
                                    <a ui-sref="app.pages.highlight-futura" >1</a>
                                    <a ui-sref="app.pages.highlight-personas" >2</a>
                                    <a ui-sref="app.pages.highlight-innovacion">3</a>
                                    <a ui-sref="app.pages.highlight-rodea" class="active">4</a>
                                    <a ui-sref="app.pages.highlight-equipo">5</a>
                                </div>
                            </div>
                    </div>
            </div>
            <section class="row box-wrapp-rodea">
                    <div class="box-1">
                        <div class="title-box">14</div>
                        <div class="sub-title-box">Buenas Prácticas</div>
                        <div class="text-background">14</div>
                        <div class="divider"></div>
                        <div class="content">
                                Durante 14 días, un grupo de altos ejecutivos de la Empresa viajó por 2 semanas a Escandinavia para conocer las mejores prácticas en desarrollo urbano sostenible y manejo de comunidades.
                        </div>
                    </div>
                    <div class="box-2">
                            <div class="title-box">4.035</div>
                            <div class="sub-title-box">Bien común</div>
                            <div class="text-background">4.035</div>
                            <div class="divider"></div>
                            <div class="content">
                                    Familias potencialmente beneficiadas por proyectos de equipamiento deportivo y cultural desarrollados por las marcas del Grupo. Estos proyectos fueron gestionados y diseñados conjuntamente entre la Compañía y la comunidad
                            </div>
                            <div class="fuente">Fuente: Recursos Humanos Empresas Socovesa.</div>
                    </div>
                    <div class="box-3">
                            <div class="title-box">40
                                    <span class="sub-title-box">Trabajo con la  comunidad (Techo)</span>

                            </div>
                            <div class="text-background">40</div>
                            <div class="divider"></div>
                            <div class="content">
                                    En alianza con la Fundación Techo, Socovesa Santiago dedicó 40 horas a apoyar a las familias beneficiarias del DS19, asesorando y acompañándolas en su integración al nuevo entorno social y promoviendo la vinculación comunitaria.
                            </div>
                    </div>
                    
                    <div class="box-4">
                            <img src="./assets/mg-nino-columpio.jpg"
                            srcset="./assets/mg-nino-columpio@2x.jpg 2x,
                                    ./assets/mg-nino-columpio@3x.jpg 3x" class="img-fluid">
                    </div>
                </section>
           
            <div class="sub-menu row align-items-center justify-content-between ">
                <div class="col section "  ui-sref="app.pages.highlight-innovacion">
                    <i class="fas fa-chevron-left"></i> Pensar en 
                    innovación
                </div>
                <div class="col section  text-right"  ui-sref="app.pages.highlight-equipo">
                        Pensar en  equipos
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
      
</div>