<div id="highlight" >
        <div class="row ">
                <div class="col  p-0">
                    <div class="header">
                        <span class="home-breadcrumb dark" ui-sref="app.pages.home">Home</span> / <span class="black">Highlights financieros</span>
                    </div>
                    <div class="title futura">
                            Pensar en <br>
                            futuro
                    </div>
                    <div class="sub-title">
                            Modernización de la estructura organizacional
                    </div>
                   
                   
                </div>
               
                <div class="col-sm-3 p-0">
                    <div class="row">
                        <div class="col  p-0">
          <div class="static-logo menu-aux">
            <div class="logo-empresa"  ui-sref="app.pages.home">
              <img src="./assets/empresas-socovesa-logo.svg" alt="" />
            </div>
            <div class="icon" ng-click="openSearch()">
              <img src="./assets/icono-buscar.svg" alt="" />
            </div>
            <div class="icon share-rrss">
              <img src="./assets/icono-compartir.svg" alt="" />
              <div class="box-rrss">
	          	<img src="./assets/facebook-dark.svg" alt="" ng-click="setShareLinks('facebook',$event)" />
	          	<img src="./assets/twitter-dark.svg" alt="" ng-click="setShareLinks('twitter',$event)" />
	          	<img src="./assets/linkedin-dark.svg" alt="" ng-click="setShareLinks('linkedin',$event)" />    
              </div>
            </div>
            <div class="icon download-chapter">
              <img src="./assets/icono-download.svg" alt="" ng-click="download('capitulo-highlight-futura.pdf')" />
            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col p-0">
                            <div class="text">
                                Durante el 2018 Empresas Socovesa inició un proceso interno de transformación el cual le permitirá fortalecer su capacidad de enfocarse en el consumidor y avanzar hacia una compañía de diseño centrada en el habitar.  
                            </div>
                    </div>
                    <div class="col-sm-3 p-0">
                            <div class="text">
                                 <div class="pagination futura">
                                    <a ui-sref="app.pages.highlight-futura" class="active">1</a>
                                    <a ui-sref="app.pages.highlight-personas" >2</a>
                                    <a ui-sref="app.pages.highlight-innovacion">3</a>
                                    <a ui-sref="app.pages.highlight-rodea">4</a>
                                    <a ui-sref="app.pages.highlight-equipo">5</a>
                                </div>
                            </div>
                    </div>
            </div>
            <section class="row box-wrapp-futura">
                <div class="box-1">
                    <div class="title-box">294 hrs.</div>
                    <div class="sub-title-box">Hoja de ruta</div>
                    <div class="text-background">294</div>
                    <div class="divider"></div>
                    <div class="content">
                            Horas dedicadas a la planificación e implementación del plan de modernización de Empresas Socovesa. 
                    </div>
                </div>
                <div class="box-2">
                        <div class="title-box">2024</div>
                        <div class="sub-title-box">Una sola compañía</div>
                        <div class="text-background">2024</div>
                        <div class="divider"></div>
                        <div class="content">
                                Año en que se estima que la Compañía se traslade al nuevo edificio corporativo, hito que marca la materialización final del proceso de modernización.
                        </div>
                </div>
                <div class="box-3">
                        <div class="title-box">470 
                            <span class="sub-title-box">Participación Interna</span>
                        </div>
                        <div class="text-background">470</div>
                        <div class="divider"></div>
                        <div class="content">
                                Número de colaboradores que participaron en la definición de lineamientos estratégicos y culturales de Empresas Socovesa.
                        </div>
                </div>
                <div class="box-4">
                        <img src="./assets/mg-ventanales-frontis-edificio.jpg"
                        srcset="./assets/mg-ventanales-frontis-edificio@2x.jpg 2x,
                                ./assets/mg-ventanales-frontis-edificio@3x.jpg 3x" class="img-fluid">
                </div>
            </section>
            <div class="sub-menu row align-items-center justify-content-between ">
                <div class="col section " ui-sref="app.pages.financieros">
                    <i class="fas fa-chevron-left"></i> Highlights financieros
                </div>
                <div class="col section  text-right" ui-sref="app.pages.highlight-personas">
                        Diseño y venta de valor
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
	<div class="footer row justify-content-center">
		<button
			type="button"
			class="btn btn-outline-secondary button-soco-outline  " ng-click="download('capitulo-highlight-futura.pdf')"
			>
			Descargar Capítulo
		</button>
    </div>
</div>