<div id="highlight" >
        <div class="row ">
                <div class="col  p-0">
                    <div class="header">
                        Home /<span class="black">Highlights Estratégicos</span>
                    </div>
                    <div class="title personas">
                            Pensar en <br>
                            las personas
                    </div>
                    <div class="sub-title">
                            Diseño y venta de valor
                    </div>
                   
                   
                </div>
               
                <div class="col-sm-3 p-0">
                    <div class="row">
                        <div class="col  p-0">
                            <div class="static-logo">
                                <div class="logo-empresa"  ui-sref="app.pages.home">
                                    <img src="./assets/empresas-socovesa-logo.svg" alt="" />
                                </div>
                                <div class="icon" ng-click="openSearch()">
                                    <img src="./assets/icono-buscar.svg" alt="" />
                                </div>
                                <div class="icon" ng-click="share($event)">
                                    <img src="./assets/icono-compartir.svg" alt="" />
                                </div>
                                <div class="icon">
                                    <img src="./assets/icono-download.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col p-0">
                            <div class="text">
                                    El negocio de Empresas Socovesa empieza y termina en las personas. Durante el 2018 la compañía dedicó 
                                    esfuerzos relevantes para estudiar las necesidades del habitar y desarrollar un modelo de venta de valor 
                                    capaz de transmitir al cliente el valor de lo diseñado.
                            </div>
                    </div>
                    <div class="col-sm-3 p-0">
                            <div class="text">
                                 <div class="pagination personas">
                                    <a ui-sref="app.pages.highlight-futura" >1</a>
                                    <a ui-sref="app.pages.highlight-personas" class="active" >2</a>
                                    <a ui-sref="app.pages.highlight-innovacion">3</a>
                                    <a ui-sref="app.pages.highlight-rodea" >4</a>
                                    <a ui-sref="app.pages.highlight-equipo">5</a>
                                </div>
                            </div>
                    </div>
            </div>
            <section class="row box-wrapp-personas">
                    <div class="box-1">
                        <div class="title-box">10.870</div>
                        <div class="sub-title-box">Centrarse en las personas</div>
                        <div class="text-background">10.870</div>
                        <div class="divider"></div>
                        <div class="content">
                                Cantidad de personas encuestadas y entrevistadas durante el 2018 por el área de Research como fuente para el desarrollo de producto y evaluación de calidad del servicio.                    </div>
                        <div class="fuente">Fuente: Área de Research Empresas Socovesa.</div>

                    </div>
                    <div class="box-2">
                        <div class="title-box">131</div>
                        <div class="sub-title-box">Insights</div>
                        <div class="text-background">131</div>
                        <div class="divider"></div>
                        <div class="content">
                                Cantidad de personas encuestadas y entrevistadas durante el 2018 por el área de Research como fuente para el desarrollo de producto y evaluación de calidad del servicio.</div>
                    </div>
                    <div class="box-3">
                            <img src="./assets/personas-cara.jpg"
                            srcset="./assets/personas-cara@2x.jpg 2x,
                                    ./assets/personas-cara@3x.jpg 3x"
                            class="img-fluid">
                        </div>
                        <div class="box-4">
                                <div class="title-box">837 hrs.</div>
                                <div class="sub-title-box">Pensando los proyectos</div>
                                <div class="text-background">837 hrs.</div>
                                <div class="divider"></div>
                                <div class="content">
                                        837 horas invertidas en sesiones de planning 1, 2 y 3 (conceptualización, ideación y  diseño de productos centrados en las necesidades de las personas) .</div>
                                        <div class="fuente">Fuente: Área de Research Empresas Socovesa. <br> Número calculado con 9 personas promedio que participan de cada reunión.</div>
                            </div>
                            <div class="box-5">
                                    <div class="title-box">88%</div>
                                    <div class="sub-title-box">Experiencias</div>
                                    <div class="text-background">88%</div>
                                    <div class="divider"></div>
                                    <div class="content">
                                            El 88% de los cotizantes evalúa experiencia de visita a proyectos de forma "superior" o "considerablemente superior" a la competencia.
                                    </div>
                            </div>
                            <div class="box-6">
                                    <img src="./assets/personas-2.jpg"
                                    srcset="./assets/personas-2@2x.jpg 2x,
                                            ./assets/personas-2@3x.jpg 3x"
                                    class="img-fluid">
                                </div>
              </section>
            <div class="sub-menu row align-items-center justify-content-between ">
                <div class="col section " ui-sref="app.pages.financieros">
                    <i class="fas fa-chevron-left"></i> Modernización de la  estructura organizacional
                </div>
                <div class="col section  text-right">
                        Diseño digital y transformación de la constructora
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
      
</div>