<div id="highlight" >
        <div class="row ">
                <div class="col  p-0">
                    <div class="header">
                        Home /<span class="black">Highlights Estratégicos</span>
                    </div>
                    <div class="title equipo">
                            Pensar en <br>
                            equipos
                    </div>
                    <div class="sub-title">
                            Talento y trabajo colaborativo 
                    </div>
                   
                   
                </div>
               
                <div class="col-sm-3 p-0">
                    <div class="row">
                        <div class="col  p-0">
                            <div class="static-logo">
                                <div class="logo-empresa"  ui-sref="app.pages.home">
                                    <img src="./assets/empresas-socovesa-logo.svg" alt="" />
                                </div>
                                <div class="icon" ng-click="openSearch()">
                                    <img src="./assets/icono-buscar.svg" alt="" />
                                </div>
                                <div class="icon" ng-click="share()">
                                    <img src="./assets/icono-compartir.svg" alt="" />
                                </div>
                                <div class="icon">
                                    <img src="./assets/icono-download.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col p-0">
                            <div class="text">
                                    Las personas son la fuerza movilizadora de Empresas Socovesa. Desarrollar, retener y atraer al mejor talento de la industria ha sido un acento fundamental de la gestión de Recursos Humanos durante los últimos años.
                            </div>
                    </div>
                    <div class="col-sm-3 p-0">
                            <div class="text">
                                 <div class="pagination equipo">
                                    <a ui-sref="app.pages.highlight-futura" >1</a>
                                    <a ui-sref="app.pages.highlight-personas" >2</a>
                                    <a ui-sref="app.pages.highlight-innovacion"  >3</a>
                                    <a ui-sref="app.pages.highlight-rodea" >4</a>
                                    <a ui-sref="app.pages.highlight-equipo" class="active">5</a>
                                </div>
                            </div>
                    </div>
            </div>
            <section class="row box-wrapp-equipo">
                    <div class="box-1">
                            <img src="./assets/yiran-ding-478037-unsplash.jpg"
                            srcset="./assets/yiran-ding-478037-unsplash@2x.jpg 2x,
                                    ./assets/yiran-ding-478037-unsplash@3x.jpg 3x" class="img-fluid">
                    </div>
                    <div class="box-2">
                            <div class="title-box">102</div>
                            <div class="sub-title-box">Liderazgo interno</div>
                            <div class="text-background">102</div>
                            <div class="divider"></div>
                            <div class="content">
                                    102 horas dedicadas a fortalecer las habilidades de liderazgo de los principales ejecutivos de las filiales y el Corporativo.
                            </div>
                    </div>
                    <div class="box-3">
                            <div class="title-box">79%</div>
                            <div class="sub-title-box">Best place to Work</div>
                            <div class="text-background">79%</div>
                            <div class="divider"></div>
                            <div class="content">
                                    Casi el 80% de los colaboradores considera que Empresas Socovesa es un buen lugar para trabajar.
                            </div>
                    </div>
                    <div class="box-4">
                            <img src="./assets/mg-pensar-equipo.jpg"
                            srcset="./assets/mg-pensar-equipo@2x.jpg 2x,
                                    ./assets/mg-pensar-equipo@3x.jpg 3x" class="img-fluid">
                    </div>
                    <div class="box-5">
                            <div class="title-box">38%</div>
                            <div class="sub-title-box">Trabajo de obra</div>
                            <div class="text-background">38%</div>
                            <div class="divider"></div>
                            <div class="content">
                                    En el año 2018 operaron 38 equipos de Recursos Humanos en obras de la Compañía. El objetivo es descentralizar la toma de decisiones y que sean las personas en obra las que decidan cómo maximizar la productividad y su calidad de vida laboral. 
                            </div>
                    </div>
                    <div class="box-6">
                            <div class="title-box">912</div>
                            <div class="sub-title-box">Factores psicosociales</div>
                            <div class="text-background">912</div>
                            <div class="divider"></div>
                            <div class="content">
                                    El año 2018 se destinaron 912 horas en obra a conversar sobre cómo convertirlas en mejores lugares para trabajar. Se utilizó como guía el Protocolo de Factores Psicosociales.
                            </div>
                    </div>
                   
                   
                </section>
           
            <div class="sub-menu row align-items-center justify-content-between ">
                <div class="col section " ui-sref="app.pages.financieros">
                    <i class="fas fa-chevron-left"></i> Desarrollo sostenible y vinculación con el entorno
                </div>
                <div class="col section  text-right" ui-sref="app.pages.carta-presidente">
                        Carta del presidente
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
      
</div>