<div id="highlight">
  <div class="row ">
    <div class="col  p-0">
      <div class="header">
        Home /<span class="black">Highlights Estratégicos</span>
      </div>
      <div class="title innovacion">
        Pensar en <br />
        innovación
      </div>
      <div class="sub-title">
        Diseño digital y transformación de la constructora
      </div>
    </div>

    <div class="col-sm-3 p-0">
      <div class="row">
        <div class="col  p-0">
          <div class="static-logo">
            <div class="logo-empresa"  ui-sref="app.pages.home">
              <img src="./assets/empresas-socovesa-logo.svg" alt="" />
            </div>
            <div class="icon" ng-click="openSearch()">
              <img src="./assets/icono-buscar.svg" alt="" />
            </div>
            <div class="icon" ng-click="share($event)">
              <img src="./assets/icono-compartir.svg" alt="" />
            </div>
            <div class="icon">
              <img src="./assets/icono-download.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <div class="text">
        Prepararse para el futuro exige repensar la construcción y hacerla más
        eficiente y productiva. El 2018 se consolidaron las bases del modelo BIM
        y se capacitaron decenas de ejecutivos en Lean Construction, acciones
        que permitirán a la Compañía avanzar en esta dirección.
      </div>
    </div>
    <div class="col-sm-3 p-0">
      <div class="text">
        <div class="pagination innovacion">
          <a ui-sref="app.pages.highlight-futura">1</a>
          <a ui-sref="app.pages.highlight-personas">2</a>
          <a ui-sref="app.pages.highlight-innovacion" class="active">3</a>
          <a ui-sref="app.pages.highlight-rodea">4</a>
          <a ui-sref="app.pages.highlight-equipo">5</a>
        </div>
      </div>
    </div>
  </div>
  <section class="row box-wrapp-innovacion">
      <div class="box-1">
          <div class="title-box">10.000</div>
          <div class="sub-title-box">Construir Digitalmente</div>
          <div class="text-background">10.000</div>
          <div class="divider"></div>
          <div class="content">
              Más de 10 mil horas dedicadas a actividades de investigación y desarrollo para la implementación de Bim y Lean dentro de Empresas Socovesa.          </div>
      </div>
      <div class="box-2">
          <div class="title-box">7.000</div>
          <div class="sub-title-box">Capacitación BIM y Lean</div>
          <div class="text-background">7.000</div>
          <div class="divider"></div>
          <div class="content">
              Más de 7 mil horas de capacitación en metodología y herramientas BIM-Lean.      </div>
      </div>
      <div class="box-3">
          <div class="title-box">63%</div>
          <div class="sub-title-box">Lean Construction</div>
          <div class="text-background">63%</div>
          <div class="divider"></div>
          <div class="content">
              El 63% de los ejecutivos con posición de liderazgo en las gerencias de Construcción (Socovesa Santiago), BIM y Clientes, participó del programa “Lean Construction” de la Pontificia Universidad Católica de Chile, auspiciados por la Compañía.</div>
            <div class="fuente">Fuente: Recursos Humanos Empresas Socovesa.</div>
      </div>
      <div class="box-4">
          <img src="./assets/mg-9621.jpg"
          srcset="./assets/mg-9621@2x.jpg 2x,
                  ./assets/mg-9621@3x.jpg 3x"
          class="img-fluid">
      </div>
      <div class="box-5">
          <img src="./assets/detalle-innovacion.jpg"
          srcset="./assets/detalle-innovacion@2x.jpg 2x,
                  ./assets/detalle-innovacion@3x.jpg 3x"
          class="img-fluid">
      </div>
      <div class="box-6">
          <img src="./assets/mg-celular-black.jpg"
          srcset="./assets/mg-celular-black@2x.jpg 2x,
                  ./assets/mg-celular-black@3x.jpg 3x"
          class="img-fluid">
      </div>
</section>
  <div class="sub-menu row align-items-center justify-content-between ">
      <div class="col section " ui-sref="app.pages.financieros">
        <i class="fas fa-chevron-left"></i> Diseño y venta de valor
      </div>
      <div class="col section  text-right">
        Desarrollo sostenible y vinculación con el entorno
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
</div>

