<div id="vision" class="vision">
  <div class="row image-background vision">
    <div class="col-md-12 padding-body">
      <div class="header">
        Home /<span class="white">Visión y agenda estratégica</span>
      </div>
      <div class="title">
        Visión y agenda <br />
        estratégica
      </div>
      <div class="divider-header "></div>

      <img
        ng-click="vm.openModal()"
        src="./assets/boton-play.svg"
        class="button-play "
      />
    </div>
  </div>
  <div class="cita ">
    Durante muchos años, el diseño se entendió como algo más bien estético: “un
    arte con funcionalidad”. Con el tiempo, esta definición más bien
    reduccionista, fue quedvando atrás, dando paso a una nueva visión que
    otorgaba al diseño la capacidad de resolver problemas, de impulsar la
    innovación y conducir a una mejor calidad de vida. Todo esto sería producto
    de la capacidad de sintetizar información y de la implementación de procesos
    iterativos cuyo fin es encontrar soluciones a esos problemas.
  </div>
  <div class="divider"></div>
  <section class="row">
    <div class="col-md-6 box-parrafos ">
      <p>
        Si miramos la historia de Empresas Socovesa, el diseño ha estado
        presente en el desarrollo de cada departamento y cada casa. Sin embargo,
        durante los últimos 7 años, la Compañía fue transitando hacia un nuevo
        entendimiento del diseño donde éste dejó ser una función limitada a solo
        un área de la Compañía, para llevarlo al corazón de la cadena de valor,
        entregándole una relevancia estratégica sin precedentes.
      </p>
      <p>
        El diseño, como Empresas Socovesa lo entiende actualmente, integra
        conocimientos y disciplinas -como la arquitectura, la ingeniería y las
        ciencias sociales-, exige métodos de trabajo más colaborativos y pone el
        conocimiento del consumidor al servicio del desarrollo de productos que
        solucionen–funcional, estética y emocionalmente hablando- las múltiples
        necesidades del habitar de las personas.
      </p>
      <p>
        Esta relevancia que se le da al diseño, representa una nueva forma de
        entender el negocio inmobiliario, donde el valor ya no está en la
        tierra, sino que en el producto, y le ha permitido a Empresas Socovesa
        aumentar sostenidamente sus utilidades y mejorar año a año el margen
        bruto de sus productos. “Ser una empresa centrada en el habitar” es la
        visión que le permitirá a Empresas Socovesa seguir siendo una compañía
        rentable y líder dentro de la industria inmobiliaria de cara a los
        próximos años.
      </p>
      <p>
        Esta visión se sostiene en 5 pilares estratégicos, los cuales fueron
        formalizados durante el ejercicio 2018, como parte de su proceso de
        modernización organizacional.
      </p>
    </div>
    <div class="col-md-6 box-image ">
      <img
        src="./assets/quote.svg"
        class="quote "
      />
      <div class="title-img ">
        Durante los últimos 7 años, la Compañía fue tranditando hacia un nuevo
        entedimiento del diseño
      </div>
      <img
        class="img-quoute  "
        src="./assets/loft-camara.jpg"
        srcset="./assets/loft-camara@2x.jpg 2x, ./assets/loft-camara@3x.jpg 3x"
        class="loft-camara"
      />
    </div>
  </section>

  <section class="tabs-vision">
    <div class="title-tab ">5 Pilares Estratégicos</div>
    <uib-tabset active="0">
      <uib-tab class="personas " index="0" heading="Pilar 01">
        <div class="tab-img ">
          <div class="rectangule-img ">
            <p>Diseño y <br />venta de valor</p>
          </div>
        </div>
        <div class="info-tab row">
          <div class="col-sm-5 p-0">
            <div class="number ">01</div>
          </div>
          <div class="col-sm-7 p-0 parrafos ">
            <p>
              Diseñar centrados en las personas y saber transmitir el valor de
              lo diseñado al cliente, es la estrategia competitiva de Empresas
              Socovesa y sus marcas. Esto se logra, por un lado, con
              metodologías y procesos de trabajo colaborativos y
              multidisciplinarios - donde participan las gerencias de
              Arquitectura, Desarrollo, Construcción, Comercial y Research-, las
              que están llamadas a poner en el centro de la toma de decisiones,
              las necesidades del habitar de las personas.
            </p>
            <p>
              El proceso de diseño que se utiliza en Empresas Socovesa está
              inspirado en el método Design Thinking (Stanford University) y
              consta de 5 etapas: comienza con un análisis contextual del
              territorio, el mercado y el consumidor, para luego pasar a la
              propuesta de valor, la ideación, la entrega del brief y el diseño
              final.
            </p>
            <p>
              Pero no basta solo con tener un producto bien pensando, después
              hay que venderlo y la “Venta de Valor” no es más que saber
              traducirle al cliente, en su lenguaje, el valor de lo diseñado. Es
              hacer consciente todos esos atributos que calzan con lo que la
              persona necesita y que hacen que decida pagar más, por un producto
              mejor.
            </p>
          </div>
        </div>
      </uib-tab>
      <uib-tab class="personas " index="1" heading="Pilar 02">
        <div class="tab-img ">
          <div class="rectangule-img ">
            <p>Diseño y <br />venta de valor</p>
          </div>
        </div>
        <div class="info-tab row">
          <div class="col-sm-5 p-0">
            <div class="number ">02</div>
          </div>
          <div class="col-sm-7 p-0 parrafos ">
            <p>
              Diseñar centrados en las personas y saber transmitir el valor de
              lo diseñado al cliente, es la estrategia competitiva de Empresas
              Socovesa y sus marcas. Esto se logra, por un lado, con
              metodologías y procesos de trabajo colaborativos y
              multidisciplinarios - donde participan las gerencias de
              Arquitectura, Desarrollo, Construcción, Comercial y Research-, las
              que están llamadas a poner en el centro de la toma de decisiones,
              las necesidades del habitar de las personas.
            </p>
            <p>
              El proceso de diseño que se utiliza en Empresas Socovesa está
              inspirado en el método Design Thinking (Stanford University) y
              consta de 5 etapas: comienza con un análisis contextual del
              territorio, el mercado y el consumidor, para luego pasar a la
              propuesta de valor, la ideación, la entrega del brief y el diseño
              final.
            </p>
            <p>
              Pero no basta solo con tener un producto bien pensando, después
              hay que venderlo y la “Venta de Valor” no es más que saber
              traducirle al cliente, en su lenguaje, el valor de lo diseñado. Es
              hacer consciente todos esos atributos que calzan con lo que la
              persona necesita y que hacen que decida pagar más, por un producto
              mejor.
            </p>
          </div>
        </div>
      </uib-tab>
      <uib-tab class="personas " index="2" heading="Pilar 03">
        <div class="tab-img ">
          <div class="rectangule-img ">
            <p>Diseño y <br />venta de valor</p>
          </div>
        </div>
        <div class="info-tab row">
          <div class="col-sm-5 p-0">
            <div class="number ">03</div>
          </div>
          <div class="col-sm-7 p-0 parrafos ">
            <p>
              Diseñar centrados en las personas y saber transmitir el valor de
              lo diseñado al cliente, es la estrategia competitiva de Empresas
              Socovesa y sus marcas. Esto se logra, por un lado, con
              metodologías y procesos de trabajo colaborativos y
              multidisciplinarios - donde participan las gerencias de
              Arquitectura, Desarrollo, Construcción, Comercial y Research-, las
              que están llamadas a poner en el centro de la toma de decisiones,
              las necesidades del habitar de las personas.
            </p>
            <p>
              El proceso de diseño que se utiliza en Empresas Socovesa está
              inspirado en el método Design Thinking (Stanford University) y
              consta de 5 etapas: comienza con un análisis contextual del
              territorio, el mercado y el consumidor, para luego pasar a la
              propuesta de valor, la ideación, la entrega del brief y el diseño
              final.
            </p>
            <p>
              Pero no basta solo con tener un producto bien pensando, después
              hay que venderlo y la “Venta de Valor” no es más que saber
              traducirle al cliente, en su lenguaje, el valor de lo diseñado. Es
              hacer consciente todos esos atributos que calzan con lo que la
              persona necesita y que hacen que decida pagar más, por un producto
              mejor.
            </p>
          </div>
        </div>
      </uib-tab>
      <uib-tab class="personas " index="3" heading="Pilar 04">
        <div class="tab-img ">
          <div class="rectangule-img ">
            <p>Diseño y <br />venta de valor</p>
          </div>
        </div>
        <div class="info-tab row">
          <div class="col-sm-5 p-0">
            <div class="number ">04</div>
          </div>
          <div class="col-sm-7 p-0 parrafos ">
            <p>
              Diseñar centrados en las personas y saber transmitir el valor de
              lo diseñado al cliente, es la estrategia competitiva de Empresas
              Socovesa y sus marcas. Esto se logra, por un lado, con
              metodologías y procesos de trabajo colaborativos y
              multidisciplinarios - donde participan las gerencias de
              Arquitectura, Desarrollo, Construcción, Comercial y Research-, las
              que están llamadas a poner en el centro de la toma de decisiones,
              las necesidades del habitar de las personas.
            </p>
            <p>
              El proceso de diseño que se utiliza en Empresas Socovesa está
              inspirado en el método Design Thinking (Stanford University) y
              consta de 5 etapas: comienza con un análisis contextual del
              territorio, el mercado y el consumidor, para luego pasar a la
              propuesta de valor, la ideación, la entrega del brief y el diseño
              final.
            </p>
            <p>
              Pero no basta solo con tener un producto bien pensando, después
              hay que venderlo y la “Venta de Valor” no es más que saber
              traducirle al cliente, en su lenguaje, el valor de lo diseñado. Es
              hacer consciente todos esos atributos que calzan con lo que la
              persona necesita y que hacen que decida pagar más, por un producto
              mejor.
            </p>
          </div>
        </div>
      </uib-tab>
      <uib-tab class="personas " index="4" heading="Pilar 05">
        <div class="tab-img ">
          <div class="rectangule-img ">
            <p>Diseño y <br />venta de valor</p>
          </div>
        </div>
        <div class="info-tab row">
          <div class="col-sm-5 p-0">
            <div class="number ">05</div>
          </div>
          <div class="col-sm-7 p-0 parrafos ">
            <p>
              Diseñar centrados en las personas y saber transmitir el valor de
              lo diseñado al cliente, es la estrategia competitiva de Empresas
              Socovesa y sus marcas. Esto se logra, por un lado, con
              metodologías y procesos de trabajo colaborativos y
              multidisciplinarios - donde participan las gerencias de
              Arquitectura, Desarrollo, Construcción, Comercial y Research-, las
              que están llamadas a poner en el centro de la toma de decisiones,
              las necesidades del habitar de las personas.
            </p>
            <p>
              El proceso de diseño que se utiliza en Empresas Socovesa está
              inspirado en el método Design Thinking (Stanford University) y
              consta de 5 etapas: comienza con un análisis contextual del
              territorio, el mercado y el consumidor, para luego pasar a la
              propuesta de valor, la ideación, la entrega del brief y el diseño
              final.
            </p>
            <p>
              Pero no basta solo con tener un producto bien pensando, después
              hay que venderlo y la “Venta de Valor” no es más que saber
              traducirle al cliente, en su lenguaje, el valor de lo diseñado. Es
              hacer consciente todos esos atributos que calzan con lo que la
              persona necesita y que hacen que decida pagar más, por un producto
              mejor.
            </p>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </section>
  <div class="sub-menu row align-items-center justify-content-between ">
    <div class="col section ">
      <i class="fas fa-chevron-left"></i> Carta JGR
    </div>
    <div class="col section  text-right">
      Transformaciones del habitar <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div class="footer row justify-content-center">
    <button
      type="button"
      class="btn btn-outline-secondary button-soco-outline  "
    >
      Descargar Informe Completo
    </button>
  </div>
  <div class="float-logo ">
    <img
      class="cube-large "
      src="./assets/cube-large.svg"
      alt=""
    />
    <img
      class="cube-large-2 "
      src="./assets/cube-large.svg"
      alt=""
    />
    <img class="cube " src="./assets/cube.svg" alt="" />

    <div class="logo-empresa"  ui-sref="app.pages.home">
      <img src="./assets/empresas-socovesa-logo-blanco.svg" alt="" />
    </div>
    <div class="icon" ng-click="openSearch()">
      <img class="white" src="./assets/icono-buscar-blanco.svg" alt="" />
    </div>
    <div class="icon"  ng-click="share()">
      <img class="white" src="./assets/icono-compartir-blanco.svg" alt="" />
    </div>
    <div class="icon">
      <img class="white" src="./assets/icono-download.svg" alt="" />
    </div>
  </div>
  <!-- Modal -->
  <script
   type="text/ng-template"
    id="videoModal.html"
    class="modal-video"
  >
    <div class="modal-body" id="modal-body">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9" ng-if="vm.src">
        <video controls autoplay id="demoVideo"
        >
        <source src="./assets/{{vm.src}}" type="video/mp4">
          Your browser does not support HTML5 video.

      </video>
      </div>
    </div>
  </script>
</div>
