/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$black: #333333;
$white: #ffffff;
$brown-grey: #999999;
$brown-grey-two: #777777;
$brown-grey-three: #666666;
$very-light: #dadada;
$very-light-two: #f3f3f3;
$salmon-dark: #ef6569;
$salmon-light: #f3777a;
$peach-dark: #fea391;
$peach-light: #ffbcaf;
$greenwater-dark: #5cb6b3;
$greenwater-light: #76ccca;
$blue-dark: #63afdc;
$blue-light: #70bae5;
$periwinkle-dark: #707fc5;
$periwinkle-light: #8592d1;

.sk-cube-grid .sk-cube {
  background-color: #14385c;
}
.titulo-highlights {
  &.personas {
    color: #eb6767;
  }
  &.futura {
    color: $greenwater-dark;
  }
  &.innovacion {
    color: $blue-dark;
  }
  &.equipo {
    color: $periwinkle-dark;
  }
  &.rodea {
    color: $peach-dark;
  }
}

a{
  color: currentColor;
  text-decoration: none;
  background-color: transparent;
  &:hover{
    color: currentColor;
    text-decoration: none;
  }
}
.titulo-slider {
  font-family: 'Playfair Display';
  font-size: 22px;
  line-height: 0.95;
  letter-spacing: -0.6px;
  color: #212121;
}

.caption-slider {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: -0.3px;
  color: #777777;
}

.caption-highlights {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: $black;
}

.contendido-h3 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: $black;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.contenido-h2 {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: $black;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.texto-destado {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  color: $brown-grey-three;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.titulo-pagina-oscuro {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 500;
  line-height: 0.86;
  letter-spacing: -1.2px;
  color: $white;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.float-logo {
  position: absolute;
  right: 22px;
  top: 0;

  .cube-large {
    position: absolute;
    right: 145px;
    top: -2px;
  }

  .cube-large-2 {
    position: absolute;
    right: 345px;
    top: 100px;
  }

  .cube {
    position: absolute;
    right: 345px;
    top: -2px;
  }

  .logo-empresa {
    margin-top: 20px;
    width: 129px;
    height: 29px;
    img {
      width: 130px;
    }
  }
  .icon {
    margin-top: 20px;
    text-align: right;
    &:hover {
      cursor: pointer;
    }
  }
}
.hidden {
  visibility: hidden;
}

.header {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9c9e9f;
  margin-bottom: 35px;
  padding-top:20px;
  z-index: 1;
  span {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
    &.white {
      color: $white !important;
    }
  }
}

.button-soco {
  color: #fff;
  max-height: 31px;
  padding: 0;
  border-radius: 0;
  min-width: 100px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $white;
  padding: 7px 10px;
  line-height: 14px;
  svg,
  i {
    margin-left: 11px;
  }
  &.personas {
    background-color: #eb6767;
    visibility: hidden;
  }
  &.futuro {
    background-color: $greenwater-dark;
    visibility: hidden;
  }
  &.innovacion {
    background-color: $blue-dark;
    visibility: hidden;
  }
  &.rodea {
    background-color: $peach-dark;
    visibility: hidden;
  }
  &.equipo {
    background-color: $periwinkle-dark;
    visibility: hidden;
  }
  &:hover {
    color: #fff;
  }
}
.n-p-l{
  padding-left: 0;
}
.p-l-60{
  padding-left: 60px;
}
.n-p-r{
  padding-right: 0;
}
.p-r-60{
  padding-right: 60px;
}
.p-r-160{
  padding-right: 160px;
}
.p-b-50{
  padding-bottom: 50px;
}

.scrolldown {
position: absolute;
bottom: 2%;
text-align: center;
left: 0;
right: 0;
margin: auto;
-moz-animation: bounce 3s infinite;
-webkit-animation: bounce 3s infinite;
animation: bounce 3s infinite;
}
@-moz-keyframes scrolldown {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes scrolldown {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes scrolldown {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.sub-menu {
  height: 65px;
  border-top:1px solid #dddddd;
  margin-left: 80px;
  .section {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $brown-grey-three;
    svg,i{
      margin: 0 6px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.w-100{
  width: 100%;
}
.button-soco-outline {
  max-height: 31px;
  padding: 0;
  border-radius: 3px;
  min-width: 170px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 7px 10px;
  line-height: 14px;
  color: $black;
  border-color: $black;
  &:hover {
    background-color:  $black;
    border-color:  $black;
    color: #fff;
  }
}

.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

//Seba
.menu-aux img {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;	
}
.menu-aux img:hover {
	opacity: .6;
	cursor: pointer;
}

*:focus {
    outline: none;
}

.box-rrss {
    position: absolute;
    right: 50px;
    bottom: 42px;
    width: 130px;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.box-rrss img {
    margin-right: 10px;
}

.icon.share-rrss:hover .box-rrss {
    opacity: 1;
}

.info-tab div.text {
    padding: 0 70px 0 0;
    line-height: 1.8 !important;
}

.row.contendor-menu .item-link:hover {
    opacity: .4;
}

.row.chart-proyecciones div {
    display: flex;
    justify-content: space-evenly;
}

.row.wrapp-data .data {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.row.wrapp-data:hover {
    background-color: #f7f7f7;
}
.row.wrapp-data:hover .data {
    color: #333 !important;
}

.row.header, .row.wrapp-data {
    padding: 12px 15px !important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.home-breadcrumb {
	opacity: 1;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;	
}

.home-breadcrumb:hover {
	opacity: .5;
	cursor: pointer;
}

.home-breadcrumb.light {
	color: #ddd;
}

.home-breadcrumb.dark {
	color: #999;
}

@media  (max-width: 580px) {

.row.contendor-menu {
    display: block;
}

  .sub-menu {
      height: 80px;
      margin-right: 0;
      .col{
        padding: 0;
        margin: 0 10px;
        svg{
          display: none;
        }
      }
    }

	.info-tab div.text {
	    padding: 0 10px;
	    margin-bottom: 20px;
	}

	ul.nav.nav-tabs li.uib-tab {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-basis: 100%;
	    margin-bottom: 20px;
	}
	ul.nav.nav-tabs li.uib-tab a.active {
	    border: none !important;
	    background-color: #f7f7f7;
	    padding: 10px 20px !important;
	    -webkit-border-radius: 50px;
	    border-radius: 50px;
	}


}

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/* Space out content a bit */

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
