#vision,
#financieros,
#accionistas,
#equipo,
#carta-presidente,
#tendencias,
#carta-gerente-general,
#mordernizacion,
#sostenibilidad,
#descargables ,
#proyecciones,
#marcas,
#compromisos{
  margin-left: 80px;
  margin-right: 0;
  .row {
    margin: 0;
    width: 100%;
  }
  .hero-img {
    display: none;
  }
  .image-background {
    height: 660px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    &.vision {
      background-image: url('../assets/hero-vision.jpg');
    }
    &.financieros {
      background-image: url('../assets/hero-financieros.jpg');
    }
    &.accionistas {
      background-image: url('../assets/hero-accionistas.jpg');
    }
    &.equipo {
      background-image: url('../assets/hero-equipo.jpg');
    }
    &.carta-presidente {
      background-image: url('../assets/hero-presidente.jpg');
    }
    &.carta-gerente-general {
      background-image: url('../assets/hero-gerente-general.jpg');
    }
    &.tendencias {
      background-image: url('../assets/hero-tendencias.jpg');
    }
    &.mordernizacion {
      background-image: url('../assets/hero-mordernizacion.jpg');
    }
    &.sostenibilidad {
      background-image: url('../assets/hero-sostenibilidad.jpg');
    }
    &.descargables {
      background-image: url('../assets/hero-descargables.jpg');
    }
    &.proyecciones {
      background-image: url('../assets/hero-proyecciones.jpg');
    }
    &.marcas {
        background-image: url('../assets/hero-marcas.jpg');
    }
    &.compromisos{
        background-image: url('../assets/hero-compromisos.jpg');

    }
  }
  .header {
    padding-left: 20px;
  }
  .title {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $black;
    padding-left: 20px;
    &.black {
      color: #000;
    }
    &.white {
      color: $white;
    }
  }
  .title-descargable {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: $periwinkle-dark;
    padding-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 30px;
    border-bottom: 2px solid $black;
  }
  .divider-header {
    width: 80px;
    height: 10px;
    background-color: $white;
    margin-top: 36px;
    margin-left: 20px;
    &.black {
      background-color: #000;
    }
  }
  .wrapp-play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    .title-video {
      margin-top: 40px;
      font-family: 'Roboto';
      font-size: 22px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $white;
    }
  }
  .wrapp-play-3 {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80px;
    height: 80px;
    top:0;
    margin-top: 25%;
  }

  .cube-large {
    width: 20px;
    height: 60px;
    background-color: #f9eb02;
    margin-left: 90px;
  }

  .cube-large-2 {
    width: 20px;
    height: 70px;
    background-color: #f9eb02;
    margin-top: 90px;
    margin-right: 80px;
  }

  .cube {
    width: 20px;
    height: 20px;
    background-color: #f9eb02;
    margin-right: 80px;
  }

  .static-logo {
    padding-right: 21px;
    padding-top: 20px;

    .logo-empresa {
      width: 129px;
      height: 29px;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-right: 0;
      img {
        width: 130px;
      }
    }
    .icon {
      margin-top: 20px;
      text-align: right;
    }
  }

  .cita {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $brown-grey-three;
    padding: 50px 60px;
  }

  .divider {
    max-width: 500px;
    height: 2px;
    background-color: $brown-grey;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .parrafo-dark {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: $black;
  }

  .parrafo {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $brown-grey-three;
  }

  .one {
    padding-right: 20px !important;
    padding-left: 0 !important;
  }
  .one-special {
    padding-right: 60px !important;
    padding-left: 0 !important;
  }
  .two {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .three {
    padding-right: 0 !important;
    padding-left: 20px !important;
  }
  .three-special {
    padding-right: 0 !important;
    padding-left: 60px !important;
  }
  .three-special-2 {
    padding-right: 160px !important;
    padding-left: 60px !important;
    padding-top: 50px !important;
  }
  .wrapp-download{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    .link-download{
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: $brown-grey-three;
      border-bottom: 1px solid $very-light;
      padding: 10px 0;
      &:hover{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: $black;
        cursor: pointer;

      }
    }
    .title-link-download{
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  .box-parrafos {
    padding: 0 60px;
    position: relative;
    &.background-color {
      background-color: #f4f4f4;
      padding-bottom: 50px;
    }
    .title {
      font-family: 'Roboto';
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      padding: 0;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .title-small {
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      padding: 0;
      margin-top: 50px;
      margin-bottom: 30px;
      &.has-subtitle {
        margin-bottom: 20px;
      }
    }
    .title-big {
      font-family: 'Roboto';
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.04;
      letter-spacing: normal;
      color: $black;
      margin-top: 50px;
      margin-bottom: 30px;
      &.has-subtitle {
        margin-bottom: 20px;
      }
    }
    .sub-title {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: $black;
      margin-bottom: 46px;
    }
    .sub-title {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: $black;
      margin-bottom: 19px;
    }

    .saludos {
      padding-top: 50px;
      margin: 0;
    }
    .name {
      padding-top: 30px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: $black;
      margin: 0;
    }
    .end {
      margin: 0;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
    }

    .img-chart {
      width: 100%;
    }
  }
  .img-croquis-3 {
    margin-top: -40px;
  }

  .quote-alone {
    .title-quote {
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      z-index: 10;
      &.carta-presidente {
        margin-top: -30px;
        color: $blue-dark;
        margin-bottom: 50px;
      }
      &.carta-presidente-2 {
        margin-top: 50px;
        color: $blue-dark;
      }
      &.carta-gerente-general {
        margin-top: 50px;
        color: $blue-dark;
        margin-bottom: 50px;
        position: relative;

        .quote {
          position: absolute;
          width: 94px;
          height: 90px;
          z-index: -1;
          top: -55px;
          left: -60px;
        }
      }
      &.carta-gerente-general-2 {
        color: $blue-dark;
        margin-top: 95px;
        margin-bottom: 40px;
        position: relative;
        .quote {
          position: absolute;
          width: 94px;
          height: 90px;
          left: -60px;
          top: -55px;
          z-index: -1;
        }
      }
    }
  }

  .footer {
    min-height: 70px;
    background-color: #dedede;
    padding: 20px;
  }
  .fuente {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $brown-grey-two;
    margin-top: 50px;
  }
  .fuente-2 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $brown-grey-two;
    margin-top: 4px;
  }
  .divider-big {
    height: 1px;
    background-color: #b2b2b2;
    margin: 0 60px;
  }

  // TENDENCIAS
  .chart-tendencia {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .detalle-fondo-tendencia {
    position: absolute;
    right: 0;
    margin-top: 600px;
  }
  .title-tablas-tendencia {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-top: 50px;
    padding-bottom: 12px;
    border-bottom: 3px solid $black;
    margin-bottom: 0;
  }
  // TENDENCIAS

  //MODERNIZACION
  .title-modernizacion {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: #eb6767;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .title-modernizacion-2 {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: #eb6767;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .text-modernizacion {
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #eb6767;
    margin-bottom: 30px;
  }
 
  .edificio-corporativo {
    padding-right: 70px;
  }
  .croquis-11 {
    position: absolute;
    left: 60px;
    bottom: 0;
  }
  //MODERNIZACION
  //SOSTENIBILIDAD
  .title-sostenibilidad {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-bottom: 30px;
  }
  .title-sostenibilidad-2 {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-bottom: 30px;
    max-width: 580px;
    margin-top: 50px;
  }
  .text-sostenibilidad {
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-bottom: 30px;
  }
  .text-sostenibilidad-2 {
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-left: 60px;
    margin-bottom: 30px;
  }
  .margin-sostenibilidad {
    margin-right: 160px;
  }
  .margin-sostenibilidad-2 {
    margin-left: 60px;
  }
  .margin-sostenibilidad-3 {
    margin-right: 60px;
  }
  .croquis-sostenibilidad {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .img-sostenibilidad {
    padding-right: 50px;
  }
  .background-sostenibilidad {
    background-color: $very-light-two;
  }
  .cita-sostenibilidad {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: $brown-grey-three;
    padding-right: 40px;
    margin-bottom: 50px;
  }
  .croquis-9 {
    position: absolute;
    right: 0;
    top: 0;
  }
  //SOSTENIBILIDAD
  //EQUIPO
  .croquis-5 {
    position: absolute;
    top: 272px;
    right: 0;
    z-index: -1;
  }
  .croquis-7 {
    position: absolute;
    top: 272px;
    right: 0;
    z-index: -1;
  }
  //EQUIPO

  //MARCA
  .cita-tab{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    padding: 0 60px;
    padding-bottom:  50px;
    color: $brown-grey-three;
    font-weight: 300;
  }

  .text-marcas{
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #eb6767;
    margin-bottom: 30px;
    margin-top: -60px;
  }

  .text-marcas-2{
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $peach-dark;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .text-marcas-3{
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $periwinkle-dark;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  //MARCA

  //PROYECCIONES
  .text-proyecciones{
    font-family: 'Playfair Display';
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $blue-dark;
  }
  .background-color.proyecciones{
    padding-bottom: 0;
  }
  .croquis-4 {
   position: absolute;
   bottom: 0;
   right: -62px;
   z-index: -1;
  }
  .chart-proyecciones{
    margin-top: 60px;
    margin-bottom: 50px;
  }
  //PROYECCIONES
  //COMPROMISOS
  .text-compromisos{
    font-family: 'Playfair Display';
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $greenwater-dark;
  }
  .croquis-margin-compromisos{
      padding-right: 342px;
  }
  .croquis-3-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
   }
   .img-educacion{
     padding-right: 60px;
   }
   .title-compromisos{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-top: 50px;
    margin-bottom: 20px;
   }
   .contenido-compromisos{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $brown-grey-three;
    margin-bottom: 50px;
   }
   .title-compromisos-2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 40px 0 60px;
   }
   .contenido-compromisos-2{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $brown-grey-three;
    margin-bottom: 50px;
    padding: 0 40px 0 60px;

   }
   .title-compromisos-3{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: normal;
    color: $greenwater-dark;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 60px 0 40px;
   }
   .contenido-compromisos-3{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $brown-grey-three;
    margin-bottom: 50px;
    padding: 0 60px 0 40px;

   }
   .background-offset{
    margin-top: 250px;

   }
   .background-coaching{
    background-color: #f4f4f4;

   }
   .contenido-compromisos{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: $brown-grey-three;
    margin-bottom: 50px;
   }
   .background-compromisos{
     background-color: #f4f4f4;
     margin-top: -200px;
   }
   .foto-emprendimiento{
    width: 430px;
    height: 263px;
   }
  //COMPROMISOS
  .tabs-financiero {
    padding: 50px 60px;
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 70px;
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 6px;
        margin: 0 23px;
        &.active {
          font-family: 'Roboto';
          font-size: 22px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $black;
          border-bottom: 2px solid $black;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .charts {
        padding-left: 55px;
      }
    }
  }
  .tabs-tendencias {
    padding: 50px 60px;
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 70px;
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 6px;
        margin: 0 auto;
        width: 200px;
        &.active {
          font-family: 'Roboto';
          font-size: 22px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $blue-dark;
          border-bottom: 2px solid $blue-dark;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
      .charts {
        padding-left: 55px;
      }
    }
  }
  .tabs-tendencias-2 {
    .sub-title-tab {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 70px;
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 6px;
        margin: 0 auto;
        background: transparent;
        &.active {
          font-family: 'Roboto';
          font-size: 22px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $blue-dark;
          border-bottom: 2px solid $blue-dark;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
    }
  }
  .tabs-modernizacion {
    margin-top: 50px;
    .sub-title-tab {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
    .title-vision-tab {
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #eb6767;
      margin-bottom: 50px;
      max-width: 500px;
    }
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 50px;
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 34px;
        margin: 0 auto;
        width: 240px;
        background: transparent;
        &.active {
          font-family: 'Roboto';
          font-size: 22px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #eb6767;
          border-bottom: 2px solid #eb6767;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .sub-title-tab {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue-dark;
        margin-top: 6px;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
    }
  }
  .tabs-modernizacion-2 {
    .title-tab-paginacion {
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      margin-bottom: 10px;
      padding-left: 60px;
    }
    .text-tab-paginacion {
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $brown-grey-three;
      padding-left: 60px;
      max-width: 525px;
    }
    .nav-tabs {
      border: 0;
      padding-bottom: 50px;
      margin-top: 20px;
      margin-left: 30%;
      li {
        border-bottom: 0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $brown-grey-two;
        text-decoration: none;
        padding: 0;
        margin: 0 auto;
        width: 20px;
        background: transparent;
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: normal;
        border-bottom: 0px;
        margin: 0 6px;
        &.active {
          font-family: 'Roboto';
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          line-height: 1.38;
          color: $black;

          border-bottom: 2px solid $blue-dark;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .sub-title-tab {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue-dark;
        margin-top: 6px;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
    }
  }
  .tabs-sostenibilidad {
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;

    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 50px;
      margin-right: 188px;
      margin-left: 20px;

      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 20px;
        margin: 0 auto;
        background: transparent;
        &.active {
          font-family: 'Roboto';
          font-size: 20px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $greenwater-dark;
          border-bottom: 2px solid $greenwater-dark;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .sub-title-tab {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue-dark;
        margin-top: 6px;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
    }
  }
  .tabs-equipo {
    padding: 50px 60px;
    padding-bottom: 0;
    position: relative;
    .equipo-divider {
      margin-top: 140px;
      margin-bottom: 100px;
    }
    .title-equipo {
      font-family: 'Roboto';
      font-size: 48px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      margin-bottom: 30px;
    }
    .nombre {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      margin-bottom: 10px;
    }
    .cargo {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $blue-dark;
      margin-bottom: 10px;
      max-width: 187px;
    }
    .cargo-2 {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $blue-dark;
    }
    .divider-equipo {
      margin: 30px 0;
      height: 1px;
      background-color: #b2b2b2;
    }
    .rut {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $black;
      margin-bottom: 20px;
    }
    .info-equipo {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: $brown-grey-three;
      padding-top: 20px;
      border-top: 1px solid $black;
      margin-bottom: 50px;
    }
    .info-equipo-2 {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: $brown-grey-three;
      margin-bottom: 30px;
    }
    .img-persona {
      margin-bottom: 30px;
    }
    .equipo-box {
      margin-left: 30px;
    }

    .equipo-maring {
      margin-left: 30px;
    }
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 63px;
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 6px;
        margin: 0 auto;
        min-height: 55px;
        &.active {
          font-family: 'Roboto';
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $black;
          border-bottom: 2px solid $black;
        }
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
      .charts {
        padding-left: 55px;
      }
    }
  }
  .tabs-marcas {
    margin-top: 50px;
    .sub-title-tab {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
    .title-vision-tab {
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #eb6767;
      margin-bottom: 50px;
      max-width: 500px;
    }
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 50px;
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 300;      
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 34px;
        margin: 0 auto;
        width: 240px;
        background: transparent;
        &.active {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
          text-align: center;
          color: #eb6767;
          border-bottom: 2px solid #eb6767;
         

        }
       
      }
      .pilares-active .active{
        color:  $peach-dark;
        border-bottom: 2px solid  $peach-dark;
      }
      .socovesa-active .active{
        color:  $periwinkle-dark;
        border-bottom: 2px solid  $periwinkle-dark;
      }
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .sub-title-tab {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue-dark;
        margin-top: 6px;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
    }
  }
  .tabs-marcas-2 {
    margin-top: 50px;
    .parrafo-marcas{
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: $black;
    }
    .title-tab-marca{
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
        padding: 0;
        margin-bottom: 30px;
    }
    .sub-title-tab {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
    .title-vision-tab {
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #eb6767;
      margin-bottom: 50px;
      max-width: 500px;
    }
    .nav-tabs {
      margin: 0 4px;
      border: 0;
      padding-bottom: 50px;
      li {
        border-bottom: 1px solid #e0e0e0;
      }
      a {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 300;      
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $black;
        text-decoration: none;
        padding: 0;
        padding-bottom: 34px;
        margin: 0 auto;
        width: 240px;
        background: transparent;
        &.active {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
          text-align: center;
          color: $black;
          border-bottom: 2px solid $black;
         

        }
       
      }
     
    }
    .tab-content {
      .text {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $brown-grey-three;
      }
      .sub-title-tab {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue-dark;
        margin-top: 6px;
      }
      .info {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto';
        font-style: italic;
        color: $brown-grey-three;
        margin-top: 20px;
      }
    }
  }

  .table {
    padding: 50px 60px !important;
    margin-bottom: 0rem;
    &.no-padding {
      padding: 0 !important;
      padding-bottom: 50px !important;
    }
    .big-title-table {
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $black;
      border-bottom: 3px solid $black;
      padding-bottom: 12px !important;
      padding-top: 20px !important;
    }
    .header {
      border-bottom: 3px solid $black;
      padding-bottom: 10px;
      padding: 0;
      &.ligth {
        border-bottom: 1px solid $black;
      }
      .title {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black;
        margin-bottom: 10px;
        margin-top: 10px;
        &.text-rigth {
          text-align: right;
        }
      }
    }
    .wrapp-data {
      padding: 12px 0px;
      border-bottom: 1px solid $very-light;
      &.dark{
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
      }
      .data {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black;

        &.text-rigth {
          text-align: right;
        }
        &.light {
          color: $brown-grey-two;
        }
      }
    }
  }
}

.modal-dialog {
  margin-top: 80px;
  padding-left: 80px;
}
.modal-body {
  padding: 0px;
}
.modal-backdrop.show {
  opacity: 0.7;
}

@media (max-width: 580px) {
  .modal-dialog {
    margin-top: 50%;
    padding-left: 0;
  }
  #vision,
  #financieros,
  #accionistas,
  #equipo,
  #carta-presidente,
  #tendencias,
  #carta-gerente-general,
  #mordernizacion,
  #sostenibilidad,
  #descargables ,
  #proyecciones ,
  #marcas,
  #compromisos{
    margin-left: 0;
    margin-right: 0;
    margin-top: 70px;
    .p-r-60 {
      padding-right: 0;
    }
    .title {
      margin: 40px 0;
      color: #333333 !important;
      word-wrap: break-word;
    }
    .cita {
      padding: 30px 20px;
    }
    .divider-header {
      margin-top: 0;
      margin-bottom: 0;
      background-color: #333333 !important;
    }
    .title-modernizacion {
      margin-top: 40px;
    }
    .title-modernizacion-2 {
      margin-top: 0;
    }
    .divider {
      display: none;
    }
    .background-sostenibilidad {
      padding-top: 20px !important;
    }
    .img-sostenibilidad,
    .croquis-sostenibilidad,
    .croquis-9,
    .croquis-5,
    .croquis-7,
    .croquis-4,
    .croquis-3,
    .croquis-3-2,
    .img-educacion,
    .croquis-11,
    .cube,
    .cube-large-2,
    .cube-large,
    .img-croquis-3,
    .quote-alone,
    .header,
    .img-education-parrafos,
    .static-logo {
      display: none;
    }
    .box-parrafos ,.p-l-60{
      padding: 0 20px;
      padding-bottom: 20px;
    }
    .charts {
      padding: 0 !important;
      margin-top: 20px;
    }
    .edificio-corporativo {
      padding: 0 !important;
      margin-bottom: 20px;
    }
    .croquis-margin-compromisos{
        padding: 0 20px;
    }
    .cita-tab{
        padding-right: 20px;
        padding-left: 20px;
    }
    .text-marcas{
        margin-top: 30px;
    }
    .cita-sostenibilidad,
    .one,
    .two,
    .three,
    .three-special,
    .three-special-2 {
      padding: 0 !important;
    }
    .nav-tabs {
      padding-bottom: 20px !important;
    }
    .hero-img {
      display: inherit;
      width: 100%;
    }
    .nav-justified .nav-item {
      border-bottom: 0px !important;
      margin-top: 10px;
    }
    .image-background {
      height: inherit;
      background-image: none !important;
    }
    .wrapp-download,.title-descargable {
      margin: 20px;
    }
    .wrapp-play-3 {
        margin-top: 16%;
      }
    .tabs-tendencias,
    .tabs-equipo,
    .tabs-financiero,
    .tabs-sostenibilidad,
    .table {
      padding: 20px !important;
    }
    .tabs-modernizacion-2 .nav-tabs {
      margin-left: 0;
    }
    .tabs-sostenibilidad .nav-tabs {
      margin-right: 0;
      margin-left: 0;
    }
    .margin-sostenibilidad,
    .margin-sostenibilidad,
    .margin-sostenibilidad-2,
    .margin-sostenibilidad-3 {
      margin-right: 0;
      margin-left: 0;
    }
    .title-tab-paginacion,
    .text-tab-paginacion {
      padding-left: 0 !important;
    }
    .wrapp-play {
      top: -100px;
      .title-video {
        display: none;
      }
    }
    .title-compromisos,.contenido-compromisos,.title-compromisos-2,.contenido-compromisos-2,.title-compromisos-3,.contenido-compromisos-3{
      padding: 0 20px;
    }
    .background-compromisos{
      margin-top:0;
    }
     .background-offset{
      margin-top:30px;

    }
  }
}
