<div id="financieros" class="financieros">
  <div class="row image-background financieros">
    <div class="col-md-12 padding-body">
      <div class="header">
        Home /<span class="white">Highlights Estratégicos</span>
      </div>
      <div class="title">
        Visión y agenda <br />
        estratégica
      </div>
      <div class="divider-header "></div>

      <img
        ng-click="vm.openModal()"
        src="./assets/boton-play.svg"
        class="button-play "
      />
    </div>
  </div>
  <div class="cita ">
    Durante los últimos cuatro ejercicios, la Compañía ha logrado cifras récord de utilidades que se han superado año tras año. El 2017 fue MM$ 40.056 lo que corresponde a un aumento equivalente a 14% respecto del 2016. Estos resultados se explican por los altos márgenes del negocio y el menor nivel de gastos financieros, producto de un adecuado ajuste entre oferta y demanda inmobiliaria y de menores tasas de interés.
  </div>
  <div class="divider"></div>
  <section class="row">
    <div class="col-md-6 box-parrafos">
        <p class="title">Precio acción v/s ipsa 2016 e índice inmobiliario</p>

    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6 box-parrafos ">
      <p class="big">
        El incremento del precio de la acción refleja que el mercado entiende que la Empresa está en un buen pie para enfrentar el nuevo ciclo económico.
      </p>
    </div>
    <div class="col-md-6 box-image ">
    
      
      <img
        class="img-chart  "
        src="./assets/grafico-accion-vs-ipsa.png"
        srcset="./assets/grafico-accion-vs-ipsa@2x.jpg 2x, ./assets/grafico-accion-vs-ipsa@3x.jpg 3x"
        
      />
    </div>
  </section>

  <section class="tabs-equipo ">
    <uib-tabset active="0">
      <uib-tab class="equipo " index="0" heading="Evolución Ingresos Consolidados">
        <div class="info-tab row">
          <div class="col-sm-5 p-0">
            <div class="text">
                Los ingresos aumentaron un 15% con respecto al 2016. Su composición ha migrado hacia los mercados y segmentos más rentables
            </div>
          </div>
          <div class="col-sm-7 p-0 charts ">
              <img src="./assets/grafico-evolucion-ingresos-consolidados.png"
              srcset="./assets/grafico-evolucion-ingresos-consolidados@2x.png 2x,
                      ./assets/grafico-evolucion-ingresos-consolidados@3x.png 3x"
              >
          </div>
        </div>
      </uib-tab>
      <uib-tab class="equipo " index="1" heading="Evolución Utilidades">
          <div class="info-tab row">
              <div class="col-sm-5 p-0">
                <div class="text">
                    Los ingresos aumentaron un 15% con respecto al 2016. Su composición ha migrado hacia los mercados y segmentos más rentables
                </div>
              </div>
              <div class="col-sm-7 p-0 charts ">
                  <img src="./assets/grafico-evolucion-ingresos-consolidados.png"
                  srcset="./assets/grafico-evolucion-ingresos-consolidados@2x.png 2x,
                          ./assets/grafico-evolucion-ingresos-consolidados@3x.png 3x"
                  >
              </div>
            </div>
      </uib-tab>
      <uib-tab class="equipo " index="2" heading="Margen EBITDA">
          <div class="info-tab row">
              <div class="col-sm-5 p-0">
                <div class="text">
                    Los ingresos aumentaron un 15% con respecto al 2016. Su composición ha migrado hacia los mercados y segmentos más rentables
                </div>
              </div>
              <div class="col-sm-7 p-0 charts ">
                  <img src="./assets/grafico-evolucion-ingresos-consolidados.png"
                  srcset="./assets/grafico-evolucion-ingresos-consolidados@2x.png 2x,
                          ./assets/grafico-evolucion-ingresos-consolidados@3x.png 3x"
                  >
              </div>
            </div>
      </uib-tab>
      <uib-tab class="equipo " index="3" heading="Evolución ROE">
          <div class="info-tab row">
              <div class="col-sm-5 p-0">
                <div class="text">
                    Los ingresos aumentaron un 15% con respecto al 2016. Su composición ha migrado hacia los mercados y segmentos más rentables
                </div>
              </div>
              <div class="col-sm-7 p-0 charts ">
                  <img src="./assets/grafico-evolucion-ingresos-consolidados.png"
                  srcset="./assets/grafico-evolucion-ingresos-consolidados@2x.png 2x,
                          ./assets/grafico-evolucion-ingresos-consolidados@3x.png 3x"
                  >
              </div>
            </div>
      </uib-tab>
    </uib-tabset>
  </section>
  <!-- <div class="sub-menu row align-items-center justify-content-between ">
    <div class="col section ">
      <i class="fas fa-chevron-left"></i> Carta JGR
    </div>
    <div class="col section  text-right">
      Transformaciones del habitar <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div class="footer row justify-content-center">
    <button
      type="button"
      class="btn btn-outline-secondary button-soco-outline  "
    >
      Descargar Informe Completo
    </button>
  </div> -->
  <div class="float-logo ">
    <img
      class="cube-large "
      src="./assets/cube-large.svg"
      alt=""
    />
    <img
      class="cube-large-2 "
      src="./assets/cube-large.svg"
      alt=""
    />
    <img class="cube " src="./assets/cube.svg" alt="" />

    <div class="logo-empresa ">
      <img src="./assets/empresas-socovesa-logo-blanco.svg" alt="" />
    </div>
    <div class="icon">
      <img class="white" src="./assets/icono-buscar-blanco.svg" alt="" />
    </div>
    <div class="icon">
      <img class="white" src="./assets/icono-compartir-blanco.svg" alt="" />
    </div>
    <div class="icon">
      <img class="white" src="./assets/icono-download.svg" alt="" />
    </div>
  </div>
  <!-- Modal -->
  <script
   type="text/ng-template"
    id="videoModal.html"
    class="modal-video"
  >
    <div class="modal-body" id="modal-body">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9" ng-if="vm.src">
        <video controls autoplay id="demoVideo"
        >
        <source src="./assets/{{vm.src}}" type="video/mp4">
          Your browser does not support HTML5 video.

      </video>
      </div>
    </div>
  </script>
</div>
